<section class="home-shortcode-block chart-of-the-week">
    <h3 class="shortcode-heading">
        <a href="{{ url }}">{{ title }}</a>
    </h3>

    {% if articles %}
        {% if feature_first %}
            {% with articles|first as article %}
                <div class="chart-featured">
                    {% include "blocks/article_summary_block.html" with article=article include_summary=show_summary_featured|yesno:"1,0" include_title=show_title_featured|yesno:"1,0" include_image="1" block_variant="featured" %}
                </div>
            {% endwith %}
            
            {% if articles|length > 1 %}
                <div class="row chart-grid">
                    {% for article in articles|slice:"1:" %}
                        <div class="col-xs-12 col-sm-6">
                            {% include "blocks/article_summary_block.html" with article=article include_summary=show_summary_standard|yesno:"1,0" include_title=show_title_standard|yesno:"1,0" include_image="1" block_variant="compact" %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
             <div class="row chart-grid">
                {% for article in articles %}
                    <div class="col-xs-12 col-sm-6">
                        {% include "blocks/article_summary_block.html" with article=article include_summary=show_summary_standard|yesno:"1,0" include_title=show_title_standard|yesno:"1,0" include_image="1" block_variant="compact" %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    <div class="shortcode-readmore">
        <a href="{{ url }}">Click here for more charts</a>
    </div>
</section>
