/*********************/
/* Gallery */
/*********************/

#gallery h1 {
    background-color: #26aae2;
    color: white;
    text-align: center;
    font-size: 28px;
    height: 45px;
    padding: 5px;
    margin-bottom: 0;
    margin-top: 0;
}

#gallery-home-albums h2 {
    margin-top: 0;
    padding-top: 0;
}



.album-head {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 3px 0 3px 3px;
    font-size: 12px;
}

.album-head a {
    color: white;
}


#gallery div.thumbnail img {
    height: 122px;
}

#gallery-image-cc div.thumbnail img {
    height: 80px;
}

#gallery-thumbnails .thumbnail {
    height: 180px;
}

#gallery-photo img {
    width: 100%;
}

.gallery-logo {
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 25px;
    color: black;
}

#gallery-logo a:hover {
    text-decoration: none;
}

#gallery-menu ul {
    padding-left: 0;
}

#gallery-menu li {
    width: 150px;
}

#gallery-photo-details {
    border-top: 1px solid #e6e6e6;
    padding: 10px;
}

.label-block {
    width: 110px;
    display: block !important;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 14px;
}

.gallery-album-item h2 {
    text-align: center;
}

#gallery-album-description {
    font-size: 18px;
    margin: 14px;
}

#gallery-album .thumbnail {
    height: 300px;
}