{% extends "account/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load compress %}

{% block css-override %}
    {{block.super}}
    <style>
     .right {
         color: green;
     }
     .wrong {
         color: red;
     }
    </style>
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form id="pwd-form" autocomplete="off"
                  method="POST"
                  {% if form_action == "." %}
                  action="."
                  {% else %}
                  action="{% url form_action %}"
                  {% endif %}
                  class="password_change">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper" id="{{field.id_for_label}}_wrapper" >
                        <p>{{ field.errors }}</p>
                        <p>
                            {{ field.label_tag }}
                            {% if field.id_for_label == "id_password1" %}
                                <input type="password"
                                       name="password1"
                                       id="id_password1"
                                       required placeholder="New Password"
                                       autocomplete="new-password"
                                       value="" />
                            {% else %}
                                {{ field }}
                            {% endif %}
                            {% if field.id_for_label == "id_password1" %}
                                <a id="show-hide" onclick="togglePasswordVisibility()" >
                                    <i id="show-hide-icon" class="fa fa-2x fa-eye"></i>
                                </a>
                                <div id="pwd-strength-bar"
                                     class="progress" style="max-width:240px; display: none;" >
                                    <div id="pwd-strength"
                                         class="progress-bar progress-bar-danger"
                                         role="progressbar" aria-valuenow="70"
                                         aria-valuemin="0" aria-valuemax="100" style="width:3%">
                                    </div>
                                </div>
                            {% endif %}
                            {% if field.id_for_label == "id_password2" %}
                                <i id="match-icon" class="fa fa-2x fa-close wrong"></i>
                            {% endif %}
                        </p>
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}

{% endblock %}


{% block javascript-includes %}
    {{block.super}}

    <script  type="text/javascript">
     /* Password strength indicator */
     function passwordStrength(password) {

         var desc = [ '5%', '12%',
                      '25%', '37%',
                      '49%', '62%',
                      '80%', '100%'];

         var descClass = ['progress-bar-danger', 'progress-bar-danger',
                          'progress-bar-danger', 'progress-bar-warning',
                          'progress-bar-warning', 'progress-bar-warning',
                          'progress-bar-success', 'progress-bar-success'];

         var progressStatuses = 'progress-bar-danger progress-bar-warning progress-bar-success';

         var score = 1;

         if (password.length > 5) score++;
         if (password.length > 7) score++;
         if (password.length > 9) score++;
         if (password.length > 11) score++;
         if (password.length > 13) score++;

         //if password has both lower and uppercase characters give 1 point
         if ((password.match(/[a-z]/)) && (password.match(/[A-Z]/))) score++;

         //if password has at least one number give 1 point
         if (password.match(/d+/)) score++;

         //if password has at least one special caracther give 1 point
         if ( password.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/) ) score++;

         score = Math.min(score, desc.length - 1);

         // display indicator
         // document.getElementById("jak_pstrength").className = descClass[score];

         if (password.length > 0) {
             document.getElementById("pwd-strength-bar").style.display = "block";
         } else {
             document.getElementById("pwd-strength-bar").style.display = "none";
         }
         document.getElementById("pwd-strength").style.width = desc[score];
         $("#pwd-strength").removeClass(progressStatuses).
                            addClass(descClass[score]).
                            css( {'width' : desc[score]} );
     }


     function togglePasswordVisibility() {
         var pwd1 = document.getElementById("id_password1");
         var pwd2 = document.getElementById("id_password2");
         var show_hide = document.getElementById("show-hide");
         if (pwd1.type === "password") {
             pwd1.type = "text";
             $("#id_password2_wrapper").hide();
             pwd2.required = false;
             $("#show-hide-icon").removeClass("fa-eye").
                                  addClass("fa-eye-slash");
         } else {
             pwd1.type = pwd2.type = "password";
             pwd2.required = true;
             $("#id_password2_wrapper").show();
             $("#show-hide-icon").removeClass("fa-eye-slash").
                                  addClass("fa-eye");
         }
     }

     function checkMatchedPasswords() {
         var pwd1 = document.getElementById("id_password1");
         var pwd2 = document.getElementById("id_password2");
         if (pwd1.value == pwd2.value && pwd1.value.length > 0) {
             $("#match-icon").removeClass("fa-close wrong").
                              addClass("fa-check right");
         } else {
             $("#match-icon").removeClass("fa-check right").
                              addClass("fa-close wrong");
         }
     }


     jQuery(document).ready(function(){
         jQuery("#id_oldpassword").focus();
         jQuery("#id_password1").keyup(function() {
             passwordStrength(jQuery(this).val());
             checkMatchedPasswords();
         });
         jQuery("#id_password2").keyup(function() {
             checkMatchedPasswords();
         });
         jQuery('#pwd-form').submit(
             function(event) {
                 var pwd1 = document.getElementById("id_password1");
                 var pwd2 = document.getElementById("id_password2");
                 if (pwd1.type == "text") {
                     pwd2.value = pwd1.value;
                 }
             }
         );
     });
    </script>
{% endblock %}
