{% extends "base.html" %}

{% block title %}
    Twitterhandle: {{object}}{{block.super}}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Twitter handle</h1>
                    <p>Name: {{object.name}}</p>
                    <p>Slug: {{object.slug}}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript-includes %}
    {{block.super}}

    {% if request.user.is_staff %}
        <script>
         (function() {
             if (window.opener) {
                 window.opener.receiveAjaxField("tweets-0-tag_accounts", {
                     'value': '{{object.name}}',
                     'pk' : '{{object.pk}}'
                 });
                 window.close();
             }
         })();
        </script>
    {% endif %}
{% endblock %}
