*.pyc
*.pyo
*~
*.sqlite3
*.backup
local_settings.py
groundup/media/*
groundup/static/*
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
media/
*-journal

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo


# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

guarticles2_tidy.html
