pyvenv.cfg
*.pyc
*.pyo
*~
*.sqlite3
*.backup
*.p12
*.pem
sandbox/*
gu_production*.sql
local_settings.py
groundup/media/*
groundup/static/*
static/*
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
media/
*-journal
output.txt
fbtest.py
*.json

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo


# Django stuff:
*.log
*.pot

whoosh_index/

# Sphinx documentation
docs/_build/
guarticles2_tidy.html

include/
lib/
pip-selfcheck.json
share/
db_backup*.sql
groundup/local_settings_flymake.py
static/CACHE

# Virtual Environment
venv/
access_production.log.1
access.log
target/static/target/words/american-english
target/static/target/words/american-english-huge
target/static/target/words/american-english-insane
target/static/target/words/american-english-large
target/static/target/words/american-english-small
target/static/target/words/british-english
target/static/target/words/british-english-huge
target/static/target/words/british-english-insane
target/static/target/words/british-english-large
target/static/target/words/british-english-small
target/static/target/words/canadian-english
target/static/target/words/canadian-english-huge
target/static/target/words/canadian-english-insane
target/static/target/words/canadian-english-large
target/static/target/words/canadian-english-small
target/static/target/words/unknown-english.txt
templates/banner2.html
files/static/
