beautifulsoup4==4.5.3
Django==1.10.5
django-filebrowser==3.7.2
django-grappelli==2.9.1
facebook-sdk
google-api-python-client
html2text
httplib2
oauth2client==1.5.2
oauthlib
Pillow
psycopg2
pycrypto
pytz
requests
requests-oauthlib
sqlparse
tweepy
Unidecode
uritemplate
wheel
django-haystack
python-dateutil
piexif
django-allauth
smartypants
django-debug-toolbar
