beautifulsoup4==4.6.0
Django==3.1.12
django-filebrowser==3.13.1
django-grappelli==2.14.2
facebook-sdk
# google-api-python-client
html2text
httplib2
# Upgrading this will require a painful time-consuming
# change to get most popular articles from Google Analytics.
oauth2client
oauthlib
Pillow

# This change made on 4 Aug 2021 and should be temporary until
# a bug in psycop is fixed. See https://stackoverflow.com/questions/38807296/django-1-9-2-assertionerror-database-connection-isnt-set-to-utc#39649018
psycopg2-binary>=2.8,<2.9

python3-memcached
pycrypto
pytz
requests
requests-oauthlib
sqlparse
tweepy
Unidecode
uritemplate
wheel
django-haystack
python-dateutil
piexif
django-allauth
smartypants
django-ajax-selects
django-debug-toolbar
django-el-pagination
csscompressor
django-compressor
django-allauth-2fa
clfparser
pdfkit

