{% extends "gallery/base.html" %}
{% load fb_versions %}

{% block title %}
    {{block.super}} | Albums
{% endblock %}

{% block breadcrumbs %}
    <div id="gallery-breadcrumbs">
        <a href="{% url 'gallery.front' %}">Gallery front</a>&nbsp;|&nbsp;
        Albums
    </div>

{% endblock %}

{% block gallery_above_line %}

{% endblock %}

{% block gallery_below_line %}

    <div id="gallery-album-list">
        {% for album in albums %}
            <div class="gallery-album-item">
                <div class="row">
                    <div class="col-xs-12">
                        <h2><a href="{% url 'album.detail' album.pk %}">{{album}}</a></h2>
                        <div class="row">
                        {% for photo in album.photograph_set.all|slice:":4" %}
	                    <div class="col-xs-6 col-md-3">
                                {% include "gallery/thumbnail.html" %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
