{% extends "gallery/base.html" %}
{% load fb_versions %}

{% block title %}
    {{block.super}} | {{album}}
{% endblock %}

{% block gallery_title %}
     Album: {{album}}
{% endblock %}



{% block gallery_content %}
    <div id="gallery-album">
        <div id="gallery-album-description">
            {{album.description|safe}}
        </div>
        <div class="row">
            {% for photo in album.photograph_set.all %}
                <div class="col-xs-12 col-md-3">
                    <div class="gallery-photo thumbnail">
                        <a href="{% url 'photo.detail' photo.pk %}">
                            <img src="{% version photo.image 'medium' %}"
                                 alt="{{photo.alt}}" />
                            <div class="caption">
                                <p>{{photo.suggested_caption}}</p>
                                <p>Photographer: {{photo.photographer}}</p>
                                <p>Date taken: {{photo.date_taken}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
