{% extends "gallery/base.html" %}
{% load fb_versions %}

{% block title %}
    {{block.super}} | {{album}}
{% endblock %}

{% block gallery_title %}
     Album: {{album}}
{% endblock %}

{% block breadcrumbs %}
    <div id="gallery-breadcrumbs">
        <a href="{% url 'gallery.front' %}">Gallery front</a>&nbsp;|&nbsp;
        <a href="{% url 'album.list' %}">Albums</a>&nbsp;|&nbsp;
        {{album.name}}
    </div>

{% endblock %}


{% block gallery_below_line %}
    <div id="gallery-album">
        <h1>Album name: {{album.name}}</h1>
        <h2>
            {{album.description|safe}}
        </h2>
        <div class="row">
            {% for photo in album.photograph_set.ordered_by_date_taken %}
                <div class="col-xs-12 col-md-3">
                    {% include "gallery/thumbnail.html" %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
