{% extends "gallery/base.html" %}
{% load fb_versions %}

{% block title %}
    {{block.super}} | Albums
{% endblock %}


{% block gallery_title %}
    Albums
{% endblock %}

{% block gallery_content %}

    <div id="gallery-album-list">
        {% for album in albums %}
            <div class="gallery-album-item">
                <div class="row">
                    <div class="col-xs-12">
                        <h2><a href="{% url 'album.detail' album.pk %}">{{album}}</a></h2>
                        {% for photo in album.photograph_set.all|slice:":4" %}
	                    <div class="col-xs-6 col-md-3">
                                <div class="gallery-photo thumbnail">
                                    <a href="{% url 'photo.detail' photo.pk %}">
                                        <img src="{% version photo.image 'medium' %}"
                                             alt="{{photo.alt}}" />
                                    </a>
                                    <div class="caption">
                                        <p>{{photo.alt}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
