{% extends "base.html" %}
{% load fb_versions %}

{% block content %}
    <div class="container">
	<div class="row">
	    <div class="col-xs-12 col-md-12">
                <div id="album">
                    <h2>{{album}}</h2>
                    <div id="album-description">
                        {{description|safe}}
                    </div>
                    <div class="row">
                        {% for photo in album.photograph_set.all %}
                            <div class="col-xs-12 col-md-3">
                                <a href="{% url 'photo.detail' photo.pk %}" class="thumbnail">
                                    <img src="{% version photo.image 'small' %}"
                                         alt="{{photo.alt}}" />
                                    <p>Suggested caption:
                                        {{photo.suggested_caption}}</p>
                                    <p>Photographer: {{photo.photographer}}</p>
                                    <p>Date taken: {{photo.date_taken}}</p>
                                </a>
                            </div>
                            {% endfor %}
                    </div>
                    <p>
                        <a href="{% url 'album.list' %}">Albums</a>
                        |
                        <a href="{% url 'photo.list' %}">All photos</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
