{% extends "base_20161106.html" %}
{% load compress %}
{% load staticfiles %}

{% block title %}
    GroundUp Images: Gallery of high-quality free South African news photos
{% endblock %}

{% block css-override %}
    {% compress css %}
    <link rel="stylesheet"
	  href="{% static 'gallery/css/gallery_styles.css' %}" />
    {% endcompress %}
{% endblock %}

{% block seo_fields %}
    {{block.super}}
    {% block meta_description %}
    <meta name="description" content="High-quality free photographs of South African news">
    {% endblock %}
{% endblock %}


{% block banner %}
    {% with gallery=1 %}
        {% include "banner.html" with searchform_template="gallery/searchform.html" %}
    {% endwith %}
{% endblock %}


{% block content %}
    <div id="gallery">

        <div class="row">

            <div class="col-xs-12">
                {% block breadcrumbs %}
                {% endblock %}
            </div>
            <div class="col-xs-12">
                {% block gallery_top %}
                {% endblock %}
            </div>

            <div class="col-xs-12 col-md-8">
                {% block gallery_above_line %}
                {% endblock %}
            </div>

            <div class="col-xs-12 col-md-4">
                {% block gallery-sidebar %}
                    <div id="sidebar">

                    </div>
                {% endblock %}
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                {% block gallery_below_line %}
                {% endblock %}
            </div>

        </div>

    </div>
{% endblock %}


{% block javascript-includes %}
    {{block.super}}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>

{% endblock %}
