{% extends "base_20161106.html" %}

{% load staticfiles %}

{% block title %}
    GroundUp Images
{% endblock %}

{% block css-override %}

    <link rel="stylesheet"
	  href="{% static 'gallery/css/gallery_styles.css' %}" />

{% endblock %}

{% block banner %}
    {% include "banner.html" with searchform_template="gallery/searchform.html" %}
{% endblock %}


{% block content %}
    <div id="gallery">

        <div class="row">

            <div class="col-xs-12">
                {% block gallery_top %}
                {% endblock %}
            </div>

            <div class="col-xs-12 col-md-8">
                {% block gallery_above_line %}
                {% endblock %}
            </div>

            <div class="col-xs-12 col-md-4">
                {% block gallery-sidebar %}
                    <div id="sidebar">

                    </div>
                {% endblock %}
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                {% block gallery_below_line %}
                {% endblock %}
            </div>

        </div>

    </div>
{% endblock %}


{% block javascript-includes %}
    {{block.super}}

    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>

{% endblock %}
