{% extends "base_20161106.html" %}

{% load staticfiles %}

{% block title %}
    GroundUp Images
{% endblock %}

{% block css-override %}

    <link rel="stylesheet"
	  href="{% static 'gallery/css/gallery_styles.css' %}" />

{% endblock %}

{% block banner %}
    {% include "banner.html" with searchform_template="gallery/searchform.html" %}
{% endblock %}


{% block content %}
    <div class="row" id="gallery">
        <div class="col-xs-12 col-md-8">
            {% block gallery_content %}
            {% endblock %}
        </div>
        <div class="col-xs-12 col-md-4">
            {% block gallery-sidebar %}
                <div id="sidebar">

                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
