{% extends "base_20161106.html" %}

{% load fb_versions %}
{% load staticfiles %}

{% block additional_head %}

    {{block.super}}

    <link rel="stylesheet"
	  href="{% static 'newsroom/css/pgwslider.min.css' %}"
    />

{% endblock %}


{% block title %}
    GroundUp Images
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-1">
            <div class="row" id="gallery-home-featured">
                <div class="col-xs-12">
                    <h1 class="gallery">GroundUp Images: A free photo library
                    </h1>
                    <ul class="pgwSlider">
                        {% for photo in featured_photos %}
                            <li>
                                <a href="{% url 'photo.detail' photo.pk %}">
                                    <img
                                        src="{% version photo.image 'large' %}"
                                        alt="{{photo.suggested_caption}}
                                             {% if photo.photographer %}
                                             - {{photo.photographer}}
                                             {% endif %}"
                                    />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row" id="gallery-home-photos">
                <div class="col-xs-12">
                    <h2><a href="{% url 'photo.list' %}">LATEST IMAGES</a></h2>
                </div>
            </div>
            <div class="row">
                {% for photo in latest_photos %}
                    <div class="col-xs-6 col-md-3">
                        <div class="thumbnail" style="height:130px;">
                            <a href="{% url 'photo.detail' photo.pk %}">
                                <img src="{% version photo.image 'medium' %}"
                                     alt="{{photo.alt}}"
                                     style="height:120px;"
                                />
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-xs-6 col-md-3">
                    <a href="/how-image-lib-works/">
                        <div class="thumbnail">
                            <img src="{% static 'gallery/images/cc_large.png' %}"
                                 alt="Creative Commons logo"
                                 style="height:100px;"
                            />
                            <div class="caption">
                                <p style="text-align: center;">How this works</p>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="row" id="gallery-home-albums">
                <div class="col-xs-12">
                    <h2><a href="{% url 'photo.list' %}">LATEST ALBUMS</a></h2>
                </div>
            </div>
            <div class="row">
                {% for album in latest_albums %}
                    <div class="col-xs-6 col-md-3">
                        <div class="caption album-head">
                            <a href="{% url 'album.detail' album.pk %}">
                                {{album.name}}
                            </a>
                        </div>
                        <div class="thumbnail" style="height:130px; padding: 0;">
                            {% with album.photograph_set.all.0 as photo %}
                                <a href="{% url 'album.detail' album.pk %}">
                                    <img src="{% version photo.image 'medium' %}"
                                         alt="{{photo.alt}}"
                                         style="height:120px;"
                                    />
                                </a>
                            {% endwith %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript-includes %}

    {{block.super}}

    <script src={% static 'newsroom/js/pgwslider.min.js' %}>
    </script>
    <script>
     $(document).ready(function() {
         var pgwSlider = $('.pgwSlider').pgwSlider();
         pgwSlider.reload({
	     displayControls : true,
	     displayList: false,
	     intervalDuration: 6000
         });
     });
    </script>

{% endblock %}
