{% extends "gallery/base.html" %}
{% load fb_versions %}

{% block title %}
    {{block.super}} | Photos
{% endblock %}

{% block gallery_title %}
    Photos
    {% if keyword %}
        tagged with: {{keyword}}
    {% elif search_string %}
        searched: {{search_string}}
    {% endif %}

{% endblock %}


{% block gallery_content %}

    <div class="row" id="gallery-thumbnails">
        {% for photo in photos %}
	    <div class="col-xs-6 col-md-3">
                <div class="gallery-photo thumbnail">
                    <a href="{% url 'photo.detail' photo.pk %}">
                        <img src="{% version photo.image 'medium' %}"
                             alt="{{photo.alt}}" />
                    </a>
                    <div class="caption">
                        <p>{{photo.alt}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
