{% extends "gallery/base.html" %}
{% load fb_versions %}

{% block title %}
    {{block.super}} | {{photo.alt}}
{% endblock %}

{% block meta_description %}
    <meta name="description" content="{{photo.alt}}">
{% endblock %}

{% block gallery_title %}
    {{photo.alt}}
{% endblock %}


{% block breadcrumbs %}
    <div id="gallery-breadcrumbs">
        <a href="{% url 'gallery:gallery.front' %}">Gallery front</a>&nbsp;|&nbsp;
        <a href="{% url 'gallery:photo.list' %}">Photos</a>&nbsp;|&nbsp;
        {{photo.alt}}
    </div>

{% endblock %}



{% block gallery_above_line %}

    <div>
        <figure id="gallery-photo">
            <img src="{% version photo.image 'extra_large' %}"
                 alt="{{photo.alt}}" />
        </figure>
    </div>

{% endblock %}

{% block gallery-sidebar %}

    <div id="gallery-photo-details">
        <h1>{{photo.alt}}</h1>

        {{photo.suggested_caption|safe}}


        <div class="dropdown">
            <a id="drop1" href="#"
               role="button"
               class="dropdown-toggle btn btn-default btn-info"
               data-toggle="dropdown">Download <b class="caret"></b></a>

            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'gallery:photo.download' photo.pk %}">
                        <strong>📥 Download Page</strong>
                        <br><small>Find all of our download options here</small>
                    </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">Quick Downloads:</li>
                {% for version in versions %}
                    {% version photo.image version.0 as image %}
                    <li>
                        <a href="#" onclick="downloadAndRedirect('{{image.url}}', '{% url 'gallery:photo.download' photo.pk %}'); return false;">
                            {{version.1.verbose_name|capfirst}}
                            ({{image.width}}px X {{image.height}}px)
                        </a>
                    </li>
                {% endfor %}
                <li>
                    <a href="#" onclick="downloadAndRedirect('{{photo.image.url}}', '{% url 'gallery:photo.download' photo.pk %}'); return false;">
                        Original ({{photo.image.width}}px X {{photo.image.height}}px)
                    </a>
                </li>
            </ul>

        </div>



        <div id="gallery-photo-labels">
            <div class="col-xs-4">
                <span class="photo-label">Date taken</span>
            </div>
            <div class="col-xs-8">
                <a href="{% url 'gallery:photo.list' %}?date={{photo.date_taken|date:"Ymd"}}">
                    {{photo.date_taken|date:"j F Y"}}
                </a>
            </div>

            <div class="col-xs-4"><span class="photo-label">Photo by</span></div>
            <div class="col-xs-8">
                <a href="{% url 'gallery:photo.list' %}?photographer={{photo.photographer.pk}}">
                    {{photo.photographer}}
                </a>
            </div>

            <div class="col-xs-4">
                <span class="photo-label">Credit</span>
            </div>

            <div class="col-xs-8">
                {% if photo.credit %}
                    {{photo.credit}}
                {% else %}
                    {{photo.photographer}}/GroundUp
                {% endif %}
            </div>

            <div class="col-xs-4"><span class="photo-label">Albums</span></div>
            <div class="col-xs-8">
                {% for album in photo.albums.all %}
                    <a href="{% url 'gallery:album.detail' album.pk %}">{{album}}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            <div class="col-xs-4">
                <span class="photo-label">Keywords</span>
            </div>
            <div class="col-xs-8">
                {% for keyword in photo.keywords.all %}
                    <a href="{% url 'gallery:photo.list' keyword %}">
                        {{keyword}}</a>{% if not forloop.last %},&nbsp;{% endif %}
                {% endfor %}
            </div>
        </div>

        {% if photo.copyright %}
            {{photo.copyright|safe}}
        {% else %}
            {{default_copyright|safe}}
        {% endif %}

        {% include "gallery/how_to_use.html" %}

        {% version photo.image 'extra_large' as extra_large_image %}
        {% version photo.image 'huge' as huge_image %}

        <div class="row" style="margin-top:20px; border: 2px solid red; padding: 10px;">
            <div class="col-xs-6 text-center">
                <div><strong>Extra Large Photo</strong></div>
                <button type="button" class="btn btn-lg btn-primary" onclick="copyLink('https://{{ request.get_host }}{{ extra_large_image.url }}', this)">📋 Copy link</button>
            </div>
            <div class="col-xs-6 text-center">
                <div><strong>Huge Photo</strong></div>
                <button type="button" class="btn btn-lg btn-primary" onclick="copyLink('https://{{ request.get_host }}{{ huge_image.url }}', this)">📋 Copy link</button>
            </div>
        </div>

        <script>
        function copyLink(link, btn) {
            navigator.clipboard.writeText(link).then(function() {
                var originalText = btn.innerHTML;
                btn.innerHTML = '✓';
                btn.classList.remove('btn-primary');
                btn.classList.add('btn-success');
                setTimeout(function(){
                    btn.innerHTML = originalText;
                    btn.classList.remove('btn-success');
                    btn.classList.add('btn-primary');
                }, 2000);
            });
        }
        
        function downloadAndRedirect(imageUrl, downloadPageUrl) {
            // temp a element (triggers the download)
            var downloadLink = document.createElement('a');
            downloadLink.href = imageUrl;
            downloadLink.download = '';
            downloadLink.style.display = 'none';
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
            
            // redirect to the download page after a download (short delay)
            setTimeout(function() {
                window.location.href = downloadPageUrl;
            }, 500);
        }
        </script>

    </div>
{% endblock %}



{% block gallery_below_line %}
    <div id="gallery-below-line-advert">
    {% include "advert.html" %}
    </div>

    {% if photos_count > 0 %}
        <h2><a href="{% url 'gallery:photo.list' %}">Related photos</a></h2>
        <div id="gallery-related-photos" class="row">
            {% for photo in page_obj %}
                <div class="col-xs-6 col-md-3">
                    {% include "gallery/thumbnail.html" %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
