
#center-block {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.helptext {
    display: block;
    font-size: 80%;
}


input {
    width: 300px;
}

#center-block input, #center-block textarea, #center-block select {
    display: block;
}


.helptext::before {
    content: "Optional: ";
}

*:required + .helptext::before {
    color: red;
    content: "Required: ";
}

*:required + .helptext {
    color: red;
}

#case-list {
    margin-top: 16px;
}

#case-list th {
    cursor: pointer;
}

#judgment-menu {
    list-style: none;
    display: inline;
}

#judgment-menu li{
    display: inline-block;
    padding-right: 12px;
}

#case-stats {
    text-align: center;
}

.admin-only a {
    color: red;
}

#filter-cases {
    max-width: 100%;
}

#case-count {
    margin-left: 12px;
}

@media only screen and (max-width: 400px) {
    #filter-cases {
        font-size: 70%;
    }
    #case-count {
        font-size: 70%;
        display: block;
        margin-left: 0;
        margin-top: 6px;
        padding-left: 0;
        text-align: left;
    }
    #judgment-menu {
        font-size: 70%;
        display: block;
        margin-left: 0;
        margin-top: 6px;
        padding-left: 0;
        text-align: left;
    }
}
