{% extends "base.html" %}
{% load static %}


{% block title %}
    Donations{{block.super}}
{% endblock %}

{% block css-override %}
    <style>
     p input {
         width: 750px;
     }
    </style>
{% endblock %}


{% block content %}

{% if request.user.is_staff %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="content-area">
                    <h1>Recent Donations</h1>
                    <div class="col-md-offset-2">
                    	     
            
	                {% if page_obj  %}
                    <ul>
                    {% for donation in page_obj %}
                        <li><p style="font-size: 1.5em;"><a href="{% url 'admin:donationPage_donation_change' donation.id %}">{{donation.datetime_of_donation}}</a> : {{ donation.donor.display_name }} - {{donation.currency_type}} {{donation.amount}} : <a href="{% url 'admin:donationPage_donor_change' donation.donor.id %}">{{donation.donor.email}}</a></p></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No donations have been made yet.</p>
                {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="content-area">
                    <h1>Recent Donations</h1>
                    <div class="col-md-offset-2">
                    	     
            
	                {% if page_obj  %}
                    <ul>
                    {% for donation in page_obj %}
                        <li><p style="font-size: 1.5em;">{{donation.datetime_of_donation}} : {{ donation.donor.display_name }} - {{donation.currency_type}} {{donation.amount }}</p></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No donations have been made yet.</p>
                {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% include 'paginator.html' %}
</div>
{% endblock %}

{% block javascript-includes %}

    {{block.super}}

{% endblock %}
