{% load static %}
<div id="sudoku-teaser">
    <div class="row">
    <div class="col-xs-6 col-md-4">
        <table>
            {% for item in object.puzzle %}
                {% autoescape off %}{% cycle '<tr>' '' '' '' '' '' '' '' '' %}{% endautoescape %}

                <td>
                    {% if item == "0" %}
                        &nbsp;
                    {% else %}
                        {{item}}
                    {% endif %}
                </td>
                {% autoescape off %}{% cycle '' '' '' '' '' '' '' '' '</tr>' %}{% endautoescape %}
            {% endfor %}
        </table>
    </div>
    <div class="col-xs-6 col-md-8">
        <h2>Sudoku {{object.number}}</h2>
        <p>
            <a
                href="{% url "sudoku:latest" %}">
                Can you solve it?
            </a>
        </p>
        <p>
            New puzzle daily
        </p>
    </div>
    </div>
</div>
