{% extends "base.html" %}

{% block title %}
    Thank you for your letter
{% endblock %}

{% block content %}
    <div id="letters">
	<div class="container">
	    <div class="row">
		<div class="col-md-8">
		    <p class="letter-thank-you">
			Thank you for submitting your letter.
		    </p>
		    <p class="letter-thank-you">
			A GroundUp editor will make a decision whether to
			publish it or not within two working days.
		    </p>
		    <p class="letter-thank-you">
			If we publish the letter, it may be edited for typos,
			grammar and style. The title may also be changed.</p>
		    <p class="letter-thank-you">
			We will communicate with you via the email address you provided.
		    </p>
		</div>
	    </div>
	</div>
    </div>
{% endblock %}
