{% if letter.replace_with_note == True %}

    {{letter.note_to_writer|safe|linebreaks}}

{% else %}

<p>
Dear {{letter.byline}}
</p>

<p>
You wrote a letter to GroundUp in response to the article:<br />
{{letter.article.title}}
</p>

<p>
The title of your letter is:<br />
{{letter.title}}
</p>

<p>
We are pleased to inform you that it has been published. You can find it here:<br/>
{{base_url}}{{letter.get_absolute_url}}
</p>

{{letter.note_to_writer|safe|linebreaks}}

<p>
Regards<br />
GroundUp Editors
</p>
{% endif %}
