<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<h4>
    Advanced Search
    <button id="adv-filter-arrow" role="button" class="adv-closed">
        {% if request.GET.is_simple %}
            ↓
        {% else%}
            ↑
        {% endif %}
    </button>
</h4>
<form action="/advanced_search/" id="adv-filter-form" method="GET"
      {% if request.GET.is_simple %}
      style="display:none;"
      {% endif %}>

    {{adv_search_form.as_p}}

    <button class="btn btn-primary btn-submit" type="submit">Search</button>

</form>

{% comment %}
<div class="adv-filter-box">
  <div class="adv-filter-header">
    <h3 class="adv-filter-heading">
      Advanced Search <i class="adv-filter-arrow fas
                                {% if request.GET.is_simple %}
                                fa-angle-down
                                {% else%}
                                fa-angle-up
                                {%endif%}
                                fa-lg"></i>
    </h3>
  </div>
  <form action="/advanced_search/" class="adv-filter-form" method="GET"
        {% if request.GET.is_simple %}
        style="display: none"
        {%endif%}>
    <div class="adv-filter-form__row">
      <div class="adv-filter__item adv-filter__search-box">
        {{ adv_search_form.adv_search }}
      </div>
      <div class="adv-filter__item adv-filter__search-type-box">
        {{ adv_search_form.search_type.label_tag }}
        {{ adv_search_form.search_type }}
      </div>
    </div>
    <div class="adv-filter-form__row">
        <div class="adv-filter__item adv-filter__author">
            {{ adv_search_form.author.label_tag }}
            {{ adv_search_form.author }}
        </div>
        <div class="adv-filter__item adv-filter__first-author
                    adv-filter__article_only">
            {{ adv_search_form.first_author.label_tag }}
            {{ adv_search_form.first_author }}
      </div>
    </div>
    <div class="adv-filter-form__row">
        <div class="adv-filter__item adv-filter__category-box
                    adv-filter__article_only">
            {{ adv_search_form.category.label_tag }}
            {{ adv_search_form.category }}
        </div>
        <div class="adv-filter__item adv-filter__topics-box
                    adv-filter__article_only">
            {{ adv_search_form.topics.label_tag }}
            {{ adv_search_form.topics }}
        </div>
    </div>
    <div class="adv-filter-form__row">
      <div class="adv-filter__item adv-filter__date-from-box">
        <label for="{{ adv_search_form.date_from.id_for_label }}" >Date From:</label>
        {{ adv_search_form.date_from }}
      </div>
      <div class="adv-filter__item adv-filter__date-to-box">
        <label for="{{ adv_search_form.date_to.id_for_label }}" >Date To:</label>
        {{ adv_search_form.date_to }}
      </div>
    </div>
    <button class="adv-filter-submit" type="submit">SEARCH</button>
    <div class="adv-filter-form__row adv-filter__results-per-page-row">
        <div class="adv-filter__item adv-filter__results-per-page">
            {{ adv_search_form.results_per_page }}
        </div>
    </div>
  </form>
</div>

{% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
 flatpickr('[data-toggle="datepicker"]', {
     allowInput: true
 });

 document.getElementById("adv-filter-arrow").addEventListener("click", function(e) {
     if (e.target.classList.contains("adv-closed")) {
         document.getElementById("adv-filter-form").style.display = "block";
         e.target.classList.remove("adv-closed");
         e.target.classList.add("adv-open");
         e.target.textContent = "↑";
     } else {
         document.getElementById("adv-filter-form").style.display = "none";
         e.target.classList.add("adv-closed");
         e.target.classList.remove("adv-open");
         e.target.textContent = "↓";
     }
 });

</script>
