<div class="gu-search-form">
    <form id="search-form"
          method="get"
          {% if qanda_search %}
          action="{% url 'agony:list' %}"
          {% else %}
          action="/advanced_search/"
          {% endif %}
    >

            <label for="id_q" class="sr-only">Search</label>

            {% if qanda_search %}
                <input type="text"
                       maxlength="{{SEARCH_MAXLEN}}"
                       name="qanda_search_str"
                       id="id_q"
	               placeholder="Search questions"
                       value="{{query|default:""}}" />
                <input type="hidden" name="search_type" value="qanda_search_str" />
                <input type="hidden" name="is_simple" value="true" />
            {% elif gallery %}
                <input type="text"
                       maxlength="{{SEARCH_MAXLEN}}"
                       name="adv_search"
                       id="id_q"
	               placeholder="Search photos"
                       value="{{query|default:""}}" />
                <input type="hidden" name="search_type" value="image" />
                <input type="hidden" name="is_simple" value="true" />
            {% else %}
                <input type="text"
                       maxlength="{{SEARCH_MAXLEN}}"
                       name="adv_search"
                       id="id_q"
	               placeholder="Search articles"
                       value="{{query|default:''}}" />
                <input type="hidden" name="search_type" value="article" />
                <input type="hidden" name="is_simple" value="true" />
            {% endif %}
            <button id="search-button" role="button" title="Search">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 21L15.0001 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
    </form>
</div>
