{% extends 'base.html' %}
{% load highlight %}

{% block search %} {% endblock %}

{% block title %}
  Search {{block.super}}
{% endblock %}


{% block content %}

  <div class="container search-page">
    <div class="search-results">
      {% if query %}
        <div class="search-results__header">
	  <h1>Search results</h1>
          <p>
            {% if method == "DATE" %}
              Results are sorted by publication date.
              <a href="?q={{query}}&page={{page.number}}&method=RELEVANCE">
                Sort by relevance.
              </a>
            {% else %}
              Results are sorted by relevance.
              <a href="?q={{query}}&page={{page.number}}&method=DATE">
                Sort by publication date.
              </a>
            {% endif %}
          </p>
        </div>
        {% include "search/advanced_search.html" %}
        <div class="search-results__body">
          {{page.object_list}}
	  {% for article in page.object_list %}
            {% if article.obj_type == 1 %}
              <h1>Image</h1>
            {% endif %}
	    <h2>
	      <a href="{{ article.get_absolute_url }}">{{ article.title|safe }}</a>
	    </h2>
	    <p>
	      {{article.published|date:"j M Y"}}
	    </p>
            <p>
              {% with article.body|safe as body %}
		{% highlight body with query %}
	      {% endwith %}
            </p>
	  {% empty %}
	    <p>No results found.</p>
	  {% endfor %}


	  {% block pagination %}
	    {% include 'paginator.html' with page_obj=page query=query %}
	  {% endblock %}
        </div>
      {% else %}
        <div class="search-results__header">
          <h2>Please enter text to search for.</h2>
        </div>
          <div class="search-results__body">
            {% include "search/advanced_search.html" %}
        </div>
      {% endif %}
    </div>
  </div>
  </div>
{% endblock %}
