
body {
    padding-top: 0 !important;
}

#id_slug {
    width: 558px !important
}

#title-length {
    padding-left: 10px;
}

# To make CKEDitor bearable
.cke_editable img {
    max-width: 500px !important;
}

.grp-td.image .vFileBrowseField {
    width: 210px !important;
}

.grp-module.grp-table .grp-autocomplete-wrapper-m2m  {
    width: 180px !important;
}

.alert-danger {
    color: white;
    background-color: red;
}

/***************************/

#admin-user, #editing-article {
    margin-left: 20px;
    color: blue;
    font-weight: bold;
    font-size: 10px;
}

#editing-article {
    color: red;
}