#s2id_id_region, #s2id_id_topics {
    width: 558px !important;
}

#s2id_id_main_topic {
    width: 200px !important;
}

#s2id_id_region .select2-display-none {
    width: 558px !important
}

#id_slug {
    width: 558px !important
}
