@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {

    background-color: #f5f5f0;
    /* background-image: url("http://www.transparenttextures.com/patterns/cream-pixels.png");
    background-attachment: fixed;  */
    font-family: 'Ubuntu-1', 'Ubuntu-2', sans-serif;
}

.page-content {
    background-color: white;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    # border-bottom: 1px solid #d6d6d6;
}

header {
    width: 100%;
    text-align: center;
    background: #ccc;
    display:block;
    margin-bottom: 55px;
}

@media (min-width: 769px) {
    #whatsapp-share, .whatsapp-share {
	display: none;
    }
}

.navbar-default .navbar-nav > li > a:hover {
    color: #555;
    background-color: #E7E7FF
}


#search-form {
    display: inline;
}

#search-form input.form-control {
    display: inline;
    width: 75%;
}

ul.nav {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    li {
	display: inline-block;
    }
}


.logo{
    font-size: 30px;
    vertical-align: middle;
    margin: 0 5px 0 50px;
}

.logo img {
    height: 35px;
    margin-bottom: 5px;
}

@media (max-width: 980px) {
    .logo img {
	margin-bottom: 0px;
    }
}

.second{
    .nav-left{
	float: left;
    }
    ul{
	padding: 30px 0;
    }
    .nav-right{
	float: right;
    }
    .logo{
	padding: 20px 0;
	display: inline-block;
    }
}

ul.icons {
    list-style-type: none;
}

ul.icons li {
    display: inline-block;
}


.icons a {
    display: inline-block;
    width: 25px;
    height: 20px;
    margin: 12px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.icons a.twitter { background: url(/static/newsroom/images/sprites/twitter.png) center top no-repeat; }

.icons a.rss { background: url(/static/newsroom/images/sprites/rss.png) center top no-repeat; }

.icons a.facebook { background: url(/static/newsroom/images/sprites/facebook.png) center top no-repeat; }

.icons a:hover { background-position: left -34px; }

#article_subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 135%;
}

article {
    font-size: 16px;
/*    font-family: Nimbus, Helvetica, sans-serif;*/
    line-height: 160%;
    border-bottom: 3px solid #e6e6e6;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

article p {
    margin-bottom: 18px;
}

@media (min-width: 980px) {
    article p, article figure img.full-width,
    article figure.full-width img, figcaption {
	padding-right: 150px;
    }
    img.full-width {
	width: 100%;
    }
}

#footer {
    background-color: #DDDDDD;
    padding-top: 18px;
    padding-bottom: 20px;
}

.footer-text {
    padding-left: 50px;
}

.subtitle {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 14px;
    color: #909090;
}

h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 140%;
    # color: #26abe2;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size: 17px;
    font-style: italic;
}

p.article-byline, p.article-dateline {
    font-size: 14px;
}

p.article-byline {
    margin-bottom: 4px;
}

p.article-dateline {
    margin-top: 4px;
}

p.article-category, p.article-region {
    font-size: 16px;
    padding-top: 10px;
}

div.featured-photo {
    margin-left: auto;
    margin-right: auto;
}

img.summary-image {
    margin-bottom: 5px;
    width: 100%;
}

h2.summary-title, h2.large-summary-title {
    margin-top: 0;
    line-height: 130%;
}

h2.large-summary-title {
    font-size: 28px;
}

h2.summary-title {
    font-size: 24px;
}

h2.summary-title a, h2.large-summary-title a {
    color: #505050;
}

h2.summary-title a:hover, h2.large-summary-title a:hover {
    text-decoration: none;
    color: #26abe2;
}

#sharing img {
    width: 27px;
    height: 26px;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

#sharing i {
    vertical-align:middle;
    margin-right: 5px;
    margin-left: 5px;

}

#sharing a:hover  {
    text-decoration: none;
    margin-bottom: 10px;
}

#newsletter-signup {
    margin-top: 20px;
    margin-bottom: 25px;
}


div.thumbnail {
    border: none;
    border-bottom: inherit;
}

.summary-text {
    font-size: 18px;
}

.summary-dateline {
    font-size: 14px;
}

.summary-category {
    text-align: right;
    margin-right: 5px;
}

.summary-caption {
    text-align: center;
    margin-top: 5px;
}

#paginator {
    text-align: center;
}

figure {
    margin-bottom:10px;
}

figcaption, .caption, #article_primary_image_caption,
p.article-primary-image-caption, p.caption {
    font-style: italic;
    font-size: 13px;
    line-height: 125%;
    margin-top: 5px;
}

p.caption {
    margin-top: -15px;
}

div#article-share-bottom {
    line-height: 24px;
}

#read-next {
    margin-bottom: 10px;
    border-bottom: 3px solid #e6e6e6;
}

#comment-policy {
    margin-top: 15px;
    border-top: 1px solid #e6e6e6;
    padding-top: 15px;
}

span#article-topics-name { font-weight: bold; }


p.intro {
    font-weight: bold;
    font-size: 17px;
}

blockquote {
    font-size: 16px;
}

#article-list p.intro {
    font-weight: normal;
    font-size: 18px;
}


div.right-sidebar-block {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    margin-bottom: 5px;
}


div.right-sidebar-block h1 {
    margin-top: 3px;
    font-size: 18px;
}

p.author-description, p.disclaimer, p.correction {
    font-style: italic;
}


.pquote {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 23px;
    font-style: italic;
    border-top: 1px solid;
    border-bottom: 1px solid;
    line-height: 200%;
    color: #26abe2;
}



.article-primary-image, img {
    max-width:100%;
}

div.full-width {
    margin-bottom: 0px;
}

div.full-width img, img.full-width, .article-primary-image {
    width: 100%;
}

article img.very-large {
    width:100%;
}

#clear-cache-form {
    margin-bottom: 10px;
}

a.admin-menu-item {
    color: red !important;
}

#see-also img, #read-next img {
    width:100%;
    height:100%;
}

#see-also h2 {
    padding-bottom: 10px;
}

#sidebar-right {
    padding-top: 40px;
}

@media (max-width: 345px) {
    #newsletter-signup a {
	font-size: 12px;
    }
}

@media (max-width: 767px) {
    #see-also img {
	height: 140px;
    }
    #see-also p {
	height: 85px;
	overflow:hidden;
    }
}


@media (max-width: 768px) {
	/*#sidebar-right {
	    margin-top: -30px;
	}*/
	#content-extra {
	    padding-top: 6px;
	}
}


#see-also p, #read-next p {
    margin-top: 6px;
}

#read-next p {
    font-size: 16px;
}

#see-also p {
    font-size: 16px;
}



div.editor-summary {
    background-color: black;
    color: orange;
    margin: 10px;
    padding: 10px;
}




/**************************/
/* Collapse menu earlier. */
/* Source:                */
/* http://stackoverflow.com/questions/21076922/bootstrap-how-to-collapse-navbar-earlier */


@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
