
header{
    width: 100%;
    text-align: center;
    background: #ccc;
    display:block;
}

ul{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    li{
	display: inline-block;
    }
}

.logo{
    font-size: 30px;
    vertical-align: middle;
    margin: 0 40px;
}

.second{
    .nav-left{
	float: left;
    }
    ul{
	padding: 30px 0;
    }
    .nav-right{
	float: right;
    }
    .logo{
	padding: 20px 0;
	display: inline-block;
    }
}

.icons a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 12px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.icons a.twitter { background: url(images/twitter.png) center top no-repeat; }

.icons a.rss { background: url(images/rss.png) center top no-repeat; }

.icons a.facebook { background: url(images/facebook.png) center top no-repeat; }

.icons a:hover { background-position: left -34px; }

#content {
    background-color: white;
    font-size: 16px;
    font-family: Nimbus, Helvetica, sans-serif;
}
#footer {
    background-color: #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subtitle {
    font-size: 120%;
    color: #909090;
}

h1 {
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size: 105%;
}

#article-byline, #article-publish-date {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 80%;
}

#article-publish-date p {
    margin-top:12px;
    margin-bottom: 12px;
    font-size: 80%;
}


#article-share-top, #article-share-bottom { text-align: center; }


p.article-primary-image-caption, p.caption {
    font-style: italic;
    font-size: 80%;
}

#article-topics { font-size: 80%; }

span#article-topics-name { font-weight: bold; }

#address, #article-copyright, #comment-policy {
    font-size: 70%;
}
