{% load staticfiles %}

<header>
    <div class="container">
        {% block logo %}
            {% include logo_template|default:"logo.html" %}
        {% endblock %}


        <div id="hamburger_menu_search">
            <input id="mobile_menu_checkbox" class="hamburger" type="checkbox" />
            <label for="mobile_menu_checkbox" class="hamburger" id="mobile_menu_label">
                {% include 'insert_icon.html' with icon="icon-menu" %}
            </label>

            <div id="menu_search">
                {% block searchform %}
                    {% include searchform_template|default:"search/searchform.html" %}
                {% endblock %}
                {% block mainmenu %}
                    {% include menu_template|default:"menu.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
</header>
