{% load staticfiles %}

<header>
    <div class="container">
        {% block logo %}
            {% include logo_template|default:"logo.html" %}
        {% endblock %}


        <div id="hamburger_menu_search">
            <button id="hamburger" onclick="toggleMenu()">
                {% include 'insert_icon.html' with icon="icon-menu" %}
            </button>

            <div id="menu_search">
                {% block searchform %}
                    {% include searchform_template|default:"search/searchform.html" %}
                {% endblock %}
                {% block mainmenu %}
                    {% include menu_template|default:"menu.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script>
     var menu_clicked = false;
     var toggleMenu = function() {
         if (menu_clicked) {
             menu_search.style.display = "none";
         } else {
             menu_search.style.display = "block";
         }
         menu_clicked = !menu_clicked;
     }
    </script>
</header>
