{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}{% endblock %} | GroundUp

    </title>
    <!-- {% now "SHORT_DATETIME_FORMAT" %} -->
    <link rel="shortcut icon"
	  href="{% static  'newsroom/images/favicon.ico' %}" />

    {% block seo_fields %}
    <meta property="og:description"
      content="GroundUp publishes original public interest news. We mainly cover
    education, health, sanitation, immigration and human rights stories."/>
    {% endblock %}
    {% block facebook-identifier %}
	<meta property="fb:app" content="794347254025697" />
    {% endblock %}

    {% block analytics %}

    {% include "google_analytics.html" %}

    {% endblock %}

    {% block bootstrap-css %}

    {% include "bootstrap_css.html" %}

    {% endblock %}

    {% block additional_head %}

    {% endblock %}

    <link rel="stylesheet" href="{% static 'newsroom/css/newsroom_styles.css' %}" />
    <link rel="stylesheet" href="{% static 'newsroom/css/newsroom_image_styles.css' %}" />

  </head>

  <body>

    {% block banner %}

    {% include 'banner.html' %}

    {% endblock %}


    <div class="container">
	<div class="row">

	    <div id="sidebar-left" class="col-sm-1">
		{% block sidebar-left %}
		{% endblock %}
	    </div>

	    <div id="content-main" class="col-sm-8 page-content">
		{% block content %}

		    {% block messages %}
			{% for message in messages %}
			    <div class="alert
					{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger
					{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}alert-success
					{% endif %}
					">
				{{message}}
			    </div>
			{% endfor %}
		    {% endblock %}

		{% endblock %}
	    </div>

	    <div id="sidebar-right" class="col-sm-3 page-content">
		{% block sidebar-right %}
		    {% for b in blocks %}
			<div class="thumbnail right-sidebar-block">
			    {{b.html|safe}}
			</div>
		    {% endfor %}
		{% endblock %}
	    </div>

	</div>

	<div class="row">
	    <div id="sidebar-left-extra" class="col-sm-1">
		{% block sidebar-left-extra %}
		{% endblock %}
	    </div>
	    <div id="content-extra" class="col-sm-8 page-content">
		{% block content-extra %}
		{% endblock %}
	    </div>
	    <div id="sidebar-right-extra" class="col-sm-2 page-content">
		{% block sidebar-right-extra %}
		{% endblock %}
	    </div>
	</div>
    </div>

    {% block footer %}

    {% include 'footer.html' %}

    {% endblock %}


    {% block javascript-includes %}

    {% include 'javascripts.html' %}

    {% endblock %}


  </body>

</html>
