{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
	    {% block title %}{% endblock %}
	</title>
	<!-- {% now "SHORT_DATETIME_FORMAT" %} -->
	<link rel="shortcut icon"
	      href="{% static  'newsroom/images/favicon.ico' %}" />

	{% block seo_fields %}
	    <meta property="og:description"
		  content="GroundUp publishes original public interest news. We mainly cover education, health, sanitation, immigration and human rights stories."/>
	{% endblock %}

	{% block facebook-identifier %}
	    <meta property="fb:app_id" content="794347254025697" />
	{% endblock %}

	{% block analytics %}
	    {% include "google_analytics.html" %}
	{% endblock %}

	{% block bootstrap-css %}
	    {% include "bootstrap_css.html" %}
	{% endblock %}

	{% block additional_head %}
	{% endblock %}

	{% block newsroom-css %}
	    <link rel="stylesheet"
		  href="{% static 'newsroom/css/newsroom_styles.css' %}" />
	{% endblock %}

	{% block css-override %}
	{% endblock %}

    </head>

    <body>

	{% block body %}

	    {% block banner %}
		{% include 'banner.html' %}
	    {% endblock %}

	    {% block messages %}
		{% include 'messages.html' %}
	    {% endblock %}

	    {% block content-header %}
	    {% endblock %}

            {% block content-wrapper %}
	        {% block content %}
	        {% endblock %}
            {% endblock %}

	    {% block admin-area %}
		{% if request.user.is_staff %}
		    <div id="admin-area">
			<div id="admin-user">
			    {{request.user}}
			</div>
			{% block admin-area-additional %}
			{% endblock %}
		    </div>
		{% endif %}
	    {% endblock %}

	    {% block footer %}
		{% include 'footer.html' %}
	    {% endblock %}


	    {% block javascript-includes %}
		{% include 'javascripts.html' %}
	    {% endblock %}

	{% endblock %}

    </body>

</html>
