{% load static %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h4>Copyright</h4>
                <p>
                    &#169; 2012-{% now "Y" %} GroundUp.
                </p>
                <p>
                    See copyright notice on articles for terms.
                </p>
                <p>
                    Most of our articles and photos are published
                    under a <a href="https://creativecommons.org/">
                    Creative Commons</a> license.
                </p>
                <p>
                    GroundUp is a member of the <a href="https://presscouncil.org.za/">Press Council</a>
                    and strives to abide by the
                    <a href="https://presscouncil.org.za/press-code/#thepresscode">Press Code</a>.<br/>
                    <img src="{% static  'newsroom/images/PRESS-COUNCIL-LOGOS-FA-FAIR-FC.png' %}"
                         alt="Press Council Logo" />
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <h4>Useful links</h4>
                <ul class="footer-menu">
                    <li><a href="/about/">About</a></li>
                    <li><a href="/copyright/">Copyright policy</a></li>
                    <li><a href="/privacy/">Privacy</a></li>
                    <li><a href="https://eepurl.com/Or2a9">
                        Sign up for our weekly newsletter</a></li>
                    <li><a href="/feeds/">RSS feeds</a></li>
                    <li><a href="https://www.tiktok.com/@groundup_news">
                        Follow us on TikTok</a></li>
                    <li><a href="https://www.facebook.com/GroundUpNews/">
                        Follow us on Facebook</a></li>
                    <li><a href="https://bsky.app/profile/groundup.org.za">
                        Follow us on Bluesky</a></li>
                    <li><a href="https://www.instagram.com/groundup_news/">
                        Follow us on Instagram</a></li>
                    <li><a href="https://www.youtube.com/c/GroundUpNews">
                        Subscribe to our Youtube channel</a></li>
                    <li><a href="https://whatsapp.com/channel/0029Vah4OJcK0IBgG4CUkz35">
                        Join our WhatsApp channel</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4">
                      <div class="contact">
        <h4 class="footer-contact__header">Contact us</h4>
        <p>
            Please email, do not phone, with story pitches and questions.<br />
            <a class="footer-contact-link" href="mailto:info@groundup.org.za">info@groundup.org.za</a><br />
            <a class="footer-contact-link" href="tel:+27217889163">+27 (0) 21 788 9163</a>
	</p>
        <address>
	  <p>
	    Suite 08, 1st&nbsp;floor<br>South&nbsp;
            Block, Tannery&nbsp;Park<br />
            23A Belmont Road<br>Rondebosch<br />
            Cape Town 7700</p>
          <p>
            <a class="footer-contact-link" href="https://goo.gl/a7ybi4" target="_blank">Google Maps</a><br />
            <a class="footer-contact-link" href="https://www.openstreetmap.org/search?query=23%20Belmont%20Road%20Rondebosch#map=19/-33.96195/18.47122&layers=NDG"
               target="_blank">OpenStreetMap
            </a>
	  </p>
        </address>
                      </div>
            </div>
        </div>
    </div>
</footer>
