{% load staticfiles %}

<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <div class="copyright">
        <a href="{% url 'newsroom:home' %}">
          <img class="footer-logo-img" src="{% static logo %}" alt="GroundUp Logo" />
        </a>
        <p>
          Copyright &#169; 2012-{% now "Y" %} GroundUp.
        </p>
        <p>See copyright notice on articles for terms.</p>
      </div>
    </div>

    <nav class="footer-nav">
      <ul class="footer-nav__links">
        <li class="footer-nav__link"><a href="/about/">About</a></li>
        <li class="footer-nav__link"><a href="/category/News/">News</a></li>
        <li class="footer-nav__link"><a href="/donate/">Donate</a></li>
        <li class="footer-nav__link"><a href="/copyright/">Copyright policy</a></li>
        <li class="footer-nav__link"><a href="/privacy/">Privacy</a></li>
        <a class="footer-nav__link footer-nav__link--newsletter" href="http://eepurl.com/Or2a9">Get Our Newsletter</a>
      </ul>
    </nav>
    <div class="footer-contact">
      <div class="contact">
        <h2 class="footer-contact__header">Contact us</h2>
        <p>
          <a class="footer-contact-link" href="tel:+27217889163">+27 (0) 21 788 9163</a><br />
	  <a class="footer-contact-link" href="mailto:info@groundup.org.za">info@groundup.org.za</a>
	</p>
        <address>
	  <p>
	    Suite 08SB, 1st&nbsp;floor<br>South&nbsp;
            Block, Tannery&nbsp;Park<br />
            21 Belmont Road<br>Rondebosch<br />
            Cape Town 7700</p>
          <p>
            <a class="footer-contact-link" href="https://goo.gl/a7ybi4" target="_blank">Google Maps</a><br />
            <a class="footer-contact-link" href="https://www.openstreetmap.org/search?query=23%20Belmont%20Road%20Rondebosch#map=19/-33.96195/18.47122&layers=NDG"
               target="_blank">OpenStreetMap
            </a>
	  </p>
        </address>
      </div>
    </div>


  </div>
</footer>
