<div id="footer">
  <div class="container">
    <div class="col-md-12 footer-text">
      <address>
	<p class="text-center">
	  <strong>Contact GroundUp</strong>
	</p>
	<p class="text-center">Suite 08SB, 1st floor, South Block, Tannery
	  Park<br />21 Belmont Road, Rondebosch<br />Cape Town 7700<br /><a href="https://www.google.co.za/maps/place/Tannery+Park/@-33.9600692,18.471663,319m/data=!3m1!1e3!4m7!1m4!3m3!1s0x1dcc5d2793ff705d:0x305d546814818e1!2s21+Belmont+Rd,+Rosebank,+Cape+Town,+7700!3b1!3m1!1s0x0000000000000000:0xafb31595aba3fa10?hl=en">(Google Map)</a>
	</p>

	<p class="text-center">
	    <span class="glyphicon glyphicon-earphone"></span>&nbsp;021 788 9163
	</p>

	<p class="text-center"><span class="fa fa-envelope"></span>&nbsp;<a href="mailto:info@groundup.org.za">info@groundup.org.za</a>
	</p>

      </address>

      <hr />
      <p class="text-center">&copy;&nbsp;2012-{% now "Y" %} GroundUp. See copyright notice on articles for terms.
      </p>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
