
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous">
</script>

<script>
 {% include "datepicker/datepicker.min.js" %}
 {% include "advanced_search.js" %}
</script>

{% comment %}
Handles menu click
{% endcomment %}
<script>
 /* From:
    https://stackoverflow.com/questions/4817029/whats-the-best-way-to-detect-a-touch-screen-device-using-javascript*/
 function is_touch_device() {
     if ("ontouchstart" in window || window.TouchEvent)
         return true;

     if (window.DocumentTouch && document instanceof DocumentTouch)
         return true;

     const prefixes = ["", "-webkit-", "-moz-", "-o-", "-ms-"];
     const queries = prefixes.map(prefix => `(${prefix}touch-enabled)`);

     return window.matchMedia(queries.join(",")).matches;
 }


 $( document ).ready(function() {
     if (is_touch_device()) {
         $('.nav .dropdown-btn').click(function() {
             if (($this).hasClass('open')) {
                 $(this).removeClass('open');
             } else {
                 $(this).addClass('open');
             }
         });
     } else {
         $('.nav .dropdown-btn').hover(function() {
             $(this).addClass('open');
         }, function() {
             $(this).removeClass('open');
         });
     }
     $('#toggle-search').click(function() {
         if ($('#search-box').hasClass('search-box-closed')) {
             $('#search-box').removeClass('search-box-closed');
             $("#id_q").focus();
             $(this).html('<i class="fas fa-times"></i>');
         } else {
             $('#search-box').addClass('search-box-closed');
             $(this).html('<i class="fas fa-search"></i>');
         }
     });
 });

</script>
