{% load staticfiles %}

<span class="header__logo" id="logo">
    {% if gallery %}
        <a href="{% url 'gallery:gallery.front' %}">
            <h2 class="gallery">Gallery</h2></a>
            {% comment %}
            <img src=
                 "{% static logo %}"
                 oalt="GroundUp Logo" />
        </a><br />
        {% endcomment %}
    {% else %}
    <a href="{% url 'newsroom:home' %}">
        <img src=
             "{% static logo %}"
             alt="GroundUp Logo"
        />
    </a>
    {% endif %}
</span>
