{% load staticfiles %}

<nav class="header__nav">
  <ul class="header__nav__links">
    {% with path=request.get_full_path %}
        <li class="drop header__nav__link"><a href="{% url 'newsroom:home' %}">News</a>
	  <ul class="header__nav__drop-down">
            {% url 'newsroom:home' as home_url %}
            <span class="header__nav__drop-down__spacer"></span>
            <li {% if path == home_url %}class='active header__nav__link header__nav__link--drop'{% endif %}>
              <a href="/">Home</a>
            </li>
	    <li class="header__nav__link header__nav__link--drop">
                <a href="/article/everything-you-need-know-about-social-grants_820/">Guide to social grants</a>
            </li>
	    <li class="header__nav__link header__nav__link--drop">
                <a href="/article/everything-you-need-know-about-government-housing/">Guide to housing</a>
            </li>
            <li class="header__nav__link header__nav__link--drop">
              <a href="/topic/cape-town-water-crisis/">Cape Town water</a>
            </li>
            <li class="header__nav__link header__nav__link--drop">
              <a href="/category/Feature/">Features</a>
            </li>
	    <li class="header__nav__link header__nav__link--drop">
              <a href="/author/">Authors</a>
            </li>
            <li class="header__nav__link header__nav__link--drop">
              <a href="/topic/">Topics</a>
            </li>
	  </ul>
        </li>

        <li class="header__nav__link">
          <a href="/imagegallery/">Gallery</a>
        </li>
	<li class='header__nav__link {% if path == '/about/' %} active {% endif %}'>
	  <a href="/about/">About</a>
	</li>
	<li class='header__nav__link {% if path == '/donate/' %} active {% endif %}'>
	  <a href="/donate/">Donate</a>
	</li>
    {% endwith %}
    {% if request.user.is_staff %}
      <li class="drop header__nav__link">
	<a class="admin-menu-item admin-nav-item" href="#">Admin</a>
	<ul class="header__nav__drop-down">
          {% include 'newsroom/staff_menu.html' %}
	</ul>
      </li>
    {% elif request.user.is_authenticated %}
      <li class="header__nav__link">
	<a href="{% url 'newsroom:user.profile' %}" class="admin-menu-item">Account</a>
      </li>
    {% endif %}
  </ul>
    <div class="advanced-search-box">
      <a class="advanced-search" href="{% url 'newsroom:advanced.search' %}">Advanced Search</a>
      <input type="hidden" name="search_type" value="both" />
    </div>
</nav>
