<ul class="nav nav-pills">
    {% with path=request.get_full_path %}
	<li  {% if path == '/' %} class='active' {% endif %} >
	    <a href="/">Home</a>
	</li>
	<li  {% if path == '/about/' %} class='active' {% endif %} >
	    <a href="/about/">About</a>
	</li>
	<li {% if path == '/donate/' %} class='active' {% endif %}>
	    <a href="/donate/">Donate</a>
	</li>
    {% endwith %}
    <li class="Dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Topics<span style="color:#26aae2 !important;"><span class="caret"></span></span></a>
	<ul class="dropdown-menu">
	    <li><a href="/silicosis-court-case/">Silicosis Case</a></li>
	    <li><a href="/topic/elections2016/">2016 Elections</a></li>
	    <li><a href="/spotlight-social-grants/">Social Grants</a></li>
	    <li><a href="/topic/coi">Inquiry into Policing</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="/category/News">News</a></li>
	    <li><a href="/category/opinion_and_analysis">Opinion &amp; Analysis</a></li>
	    <li><a href="/topic/health">Health</a></li>
	    <li><a href="/topic/education">Education</a></li>
	    <li><a href="/topic/housing">Housing</a></li>
	    <li><a href="/topic/immigration">Immigration</a></li>
	    <li><a href="/topic/labour">Labour</a></li>
	</ul>
    </li>

    {% if request.user.is_staff %}
	<li class="Dropdown">
	    <a href="#" class="dropdown-toggle admin-menu-item"
	       data-toggle="dropdown"
	       role="button"
	       aria-haspopup="true"
	       aria-expanded="false">Admin<span class="caret"></span></a>
	    <ul class="dropdown-menu">
                {% include 'newsroom/staff_menu.html' %}
	    </ul>
	</li>
    {% elif request.user.is_authenticated %}
	<li class="Dropdown">
	    <a href="{% url 'user.profile' %}"
               class="dropdown-toggle admin-menu-item">My account</a>
	</li>
    {% endif %}
</ul>
