<div id="paginator">

	<ul class="pagination">
		{% if page_obj.has_previous %}
		<li>
			<a href="?page=1{% for key, value in query_params.items %}&{{ key }}={{ value }}{% endfor %}{% if request.GET.adv_search %}&adv_search={{ request.GET.adv_search }}{% endif %}{% if request.GET.search_type %}&search_type={{ request.GET.search_type }}{% endif %}{% if request.GET.is_simple %}&is_simple={{ request.GET.is_simple }}{% endif %}{{ additional_parameters }}">first</a>
		</li>
		<li>
			<a href="?page={{ page_obj.previous_page_number }}{% for key, value in query_params.items %}&{{ key }}={{ value }}{% endfor %}{% if request.GET.adv_search %}&adv_search={{ request.GET.adv_search }}{% endif %}{% if request.GET.search_type %}&search_type={{ request.GET.search_type }}{% endif %}{% if request.GET.is_simple %}&is_simple={{ request.GET.is_simple }}{% endif %}{{ additional_parameters }}">previous</a>
		</li>
		{% endif %}

		<li class="active">
			<a href="#">
				{{page_obj.number}} of
				{{page_obj.paginator.num_pages}}
			</a>
		</li>

		{% if page_obj.has_next %}
		<li>
			<a href="?page={{ page_obj.next_page_number }}{% for key, value in query_params.items %}&{{ key }}={{ value }}{% endfor %}{% if request.GET.adv_search %}&adv_search={{ request.GET.adv_search }}{% endif %}{% if request.GET.search_type %}&search_type={{ request.GET.search_type }}{% endif %}{% if request.GET.is_simple %}&is_simple={{ request.GET.is_simple }}{% endif %}{{ additional_parameters }}">next</a>
		</li>
		<li>
			<a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in query_params.items %}&{{ key }}={{ value }}{% endfor %}{% if request.GET.adv_search %}&adv_search={{ request.GET.adv_search }}{% endif %}{% if request.GET.search_type %}&search_type={{ request.GET.search_type }}{% endif %}{% if request.GET.is_simple %}&is_simple={{ request.GET.is_simple }}{% endif %}{{ additional_parameters }}">last</a>
		</li>
		{% endif %}
	</ul>

</div>
