<div id="paginator">
    <nav>
	<ul class="pagination">
	    {% if page_obj.has_previous %}
		<li>
		    {% if query %}
			<a href="?q={{query}}&page=1">first</a>
		    {% else %}
			<a href="?page=1">first</a>
		    {% endif %}
		</li>
		<li>
		    {% if query %}
			<a href="?q={{query}}&page={{ page_obj.previous_page_number }}">previous</a>
		    {% else %}
			<a href="?page={{ page_obj.previous_page_number }}">previous</a>
		    {% endif %}
		</li>
	    {% endif %}

	    <li class="active">
		<a href="#">
		    {{page_obj.number}} of
		    {{page_obj.paginator.num_pages}}
		</a>
	    </li>

	    {% if page_obj.has_next %}
		<li>
		    {% if query %}
			<a href="?q={{query}}&page={{ page_obj.next_page_number }}">next</a>
		    {% else %}
			<a href="?page={{ page_obj.next_page_number }}">next</a>
		    {% endif %}
		</li>
		<li>
		    {% if query %}
			<a href="?q={{query}}&page={{page_obj.paginator.num_pages}}">last</a>
		    {% else %}
			<a href="?page=last">last</a>
		    {% endif %}
		</li>
	    {% endif %}
	</ul>
    </nav>
</div>
