{% extends "base.html" %}

{% block title %}
    {{object.summary_question|truncatechars:30}} {{block.super}}
{% endblock %}

{% block css-override %}
    <style>
     {% include  "agony/qanda.css" %}
    </style>
    {{block.super}}
{% endblock %}

{% block content %}
    <div id="list-content" class="home qanda__container">
        <div class="home_container">
            <div class="home__articles">
                <h3>Answer to a question from a reader</h3>
                <h1 class="qanda__summary_question">{{object.summary_question}}</h1>
                {% if object.summary_answer %}
                    <div class="qanda__summary_answer">
                        <p class="qanda__summary_answer_intro">
                            The short answer
                        </p>
                        <p>
                            {{object.summary_answer|safe}}
                        </p>
                    </div>
                {% endif %}

                {% if object.full_question %}
                    <div class="qanda__full_question">
                        <p class="qanda__full_question_intro">The whole question</p>
                        {% if object.salutation %}
                            <p>Dear {{object.salutation|safe}}</p>
                        {% endif %}
                        {{object.full_question|safe}}
                    </div>
                {% endif %}
                {% if object.full_answer %}
                    <div class="qanda__full_answer">
                        <p class="qanda__full_answer_intro">The long answer</p>
                        {{object.full_answer|safe}}
                        {% if object.salutation %}
                            <p>Wishing you the best,<br />
                                {{ object.salutation }}
                            </p>
                        {% endif %}
                    </div>
                {% endif %}

                <div style="text-align: center; margin: 20px 0; padding: 15px; border-top: 1px solid #eee; border-bottom: 1px solid #eee;">
                    <p>If you found this answer useful, please consider donating to GroundUp.</p>
                    <a href="/donation/payfast/" class="btn btn-primary btn-lg">Donate</a>
                </div>

                <p id="qand__disclaimer">
                    Please note: GroundUp is just a news agency. 
                    We are not lawyers or financial advisors, 
                    and we have nothing to do with SASSA, Home Affairs, 
                    or any other government bodies. 
                    We do our best to make the answers accurate 
                    using publicly available information, 
                    but we cannot accept any legal liability 
                    if there are errors. 
                    If you notice any discrepancies, 
                    please email <a href="mailto:info@groundup.org.za">info@groundup.org.za</a>.
                </p>
                <p class="qanda__date_published">Answered on {{object.published}}</p>
                {% with topics_all=qanda.topics.all %}
                    {% if topics_all|length  %}
                        <div class="qanda__topics">
                            {% for topic in topics_all %}
	                        <a class="article__topic"
                                   href="{% url 'agony:list' %}?topic={{topic.pk}}">
                                    {{ topic.name|capfirst }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                {% if can_edit %}
                    <p>
                        <a href="{% url 'admin:agony_qanda_change' qanda.pk %}">
                            Edit
                        </a>
                    </p>
                {% endif %}
                <p class="qand__read_more">
                    <a href="{% url 'agony:list' %}">See more questions and answers</a>
                </p>
                <p>
                    <ul id="qanda__searchlist">
                        {% include "search/searchform.html" %}
                    </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
