.qanda__container div.home_container {
    padding-bottom: 15px;
}

.home__articles, .article__content {
    margin: 12px;
    max-width: 700px;
}

h1 {
    font-family: 'Roboto slab', sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

p.qanda__summary_answer_intro {
    font-weight: bold;
}


.qanda__topics {
    padding-top: 20px;
    padding-bottom: 20px;
}

.qanda__question {
    border-bottom: 1px solid;
}

.qanda__full_question_intro, .qanda__full_answer_intro {
    font-weight: bold;
}


.qand__read_more {
    font-style: italic;
}

.qanda__date_published {
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;

}

#qand__disclaimer {
    border-top: 1px solid black;
    padding-top: 12px;
    margin-top: 12px;
    font-style: italic;
}
