
<p>Dear {{response.sender_name}}</p>

{% if response.answer_for_sender %}
    {{response.answer_for_sender|safe}}
{% else %}
    {% if  response.full_answer %}
        {{response.full_answer|safe}}
    {% else %}
        {{response.summary_answer|safe}}
    {% endif %}
{% endif %}

<p>
    Your question:
</p>

{% if response.original_question %}
    {{response.original_question|safe}}
{% else %}
    {% if  response.full_question %}
        {{response.full_question|safe}}
    {% else %}
        {{response.summary_question|safe}}
    {% endif %}
{% endif %}

<p><i>Please note: GroundUp is just a news agency. 
    We are not lawyers or financial 
    advisors, and we have nothing to do with SASSA, 
    Home Affairs, or any other government bodies. 
    We do our best to make the answers accurate using publicly 
    available information, but we cannot accept any legal 
    liability if there are errors. 
    If you notice any discrepancies, please 
    email <a href="mailto:info@groundup.org.za">info@groundup.org.za</a>.</i>
</p>

<p>
    Regards<br />
    GroundUp
</p>
