.caption {
    background-color: #EFEFEF;
    color: #4b5253;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    padding: 15px;
}

.youtube {
    background-color: blue;
}

.soundcloud {
    background-color: green;
}

.pquote {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 150%;
    font-size: 2.4rem;
    color: blue;
}

.subheading, h2 {
    font-family: 'Roboto slab', sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.4rem;
}
