/* Really no need to import this on most browsers. And if they don't have Roboto
 sans-serif is acceptable replacement.
*/

/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,300italic,300|Roboto+Condensed:300,300italic,400,700,700italic); */

/* Imported Fonts
font-family: 'Roboto', sans-serif;

font-family: 'Roboto Condensed', sans-serif;

font-family: 'Roboto Slab', serif;
*/

/* Overall */

body {
    padding-top: 75px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

#gallery-logo {
    display: none;
}

/* Top navigational bar */

.navbar-default .navbar-collapse {
    background-color: white;
}

.navbar-fixed-top {
    background-color: white;
    background-image: none;
    border-bottom: 1px solid #26aae2;
}

.navbar-fixed-top a, .navbar-default .navbar-nav > li > a  {
    color: black;
    font-size: 16px;
    padding: 10px;
    margin: 0px 5px 5px 5px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
    background-color: #f2f2f2;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a
{
    background-color: #26aae2;
    background-image: none;
    border-radius: 5px;
    color: white;

}

.navbar-brand img {
    /*height: 135%;*/
    padding-bottom: 8px;
    margin-left: 5px;
}

#search-form {
    display: inline;
    margin-top: 12px;
}


#search-form input {
    display: inline;
    width: 211px;
}

#search-button {
    display: inline;
    background-image: none;
}




/**************************/

/* Page titles */


/* Articles */

#article-content, #letter-form {
    line-height: 140%;
    margin-top: 6px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    font-size: 18px;
}


#article_title, #flatpage_title {
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-weight: bold;
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 10px;
}


#article-category a {
    font-size: 18px;
    font-weight: bold;
    color: #39A8E7;
}

#article_subtitle {
    font-weight: normal;
    font-size: 19px;
    line-height: 130%;
    margin-top: 13px;
    margin-bottom: 14px;
}

article figure, article p.caption {
    padding-bottom: 5px;
    border-bottom: 1px solid #ebebe0;
    margin-bottom: 9px;
    font-size: 13px;
    color: #1c1c1c;
    line-height: 120%;
}

article figure img, article p img {
     width: 100%;
}

span.photocredit {
     color: #adadad;
}

figcaption {
    margin-top: 6px;
}

#article-byline
{
    margin-top: 18px;
    margin-bottom: 3px;
    font-size: 16px;
}

#article-dateline {
    margin-top: 3px;
    margin-bottom: 12px;
    color: #adadad;
    font-size: 14px;
}

article p {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 14px;
    line-height: 150%;
}


article p.intro {
    font-weight: bold;
    font-size: 19px;
}

a {
    color: #26aae2;
}

/***********/

/* sidebar */

#sidebar {
    font-size: 14px;
    line-height: 160%;
}

.sidebar-block {
    margin-top: 12px;
    margin-bottom: 36px;
}

.sidebar-block h2 {
    font-weight: bold;
    font-size: 16px;
    color: #181415;
    padding-bottom: 6px;
    border-bottom: 1px solid #ebebe0;
    margin-bottom: 6px;
}

.sidebar-block h3 {
    font-size: 14px;
    color: #181415;
    margin-top: 0;
    margin-bottom: 3px;
}

.sidebar-block h4 {
    font-size: 13px;
    color: #adadad;
    margin-top: 3px;
}

/******************/

/* sidebar social media */

#social-media {
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    padding-top: 6px;
    padding-bottom: 6px;
}

#social-media .left {
    padding-top: 8px;
}

span.social-media-follow {
    vertical-align: 3px;
}

#social-media .left a {
    color: black;
    margin-left: 2px;
}

@media (min-width: 600px) {
    #social-media .left a {
        margin-left: 6px;
    }
}

#social-media .right {
    border-left: 1px solid #D3D3D3;
    font-size: 12px;
    text-transform: uppercase;
}

#social-media .right a {
    color: black;
}

/**************/

/* sidebar recommended */

#recommended .row {
    margin-bottom: 12px;
}

/**************/


/* Youtube, Soundcloud and Support ads in CKeditor */

.youtube {
    background-color: blue;
}

.soundcloud {
    background-color: green;
}

.article-advert-edit {
    background-color: red;
}

/* .article-advert-edit:before { */
/*     content: "ADVERTISEMENT"; */
/* } */


/* .article-advert:before { */
/*     margin-top: 0; */
/*     content: "ARTICLE CONTINUES AFTER ADVERTISEMENT"; */
/*     font-size: 10px; */
/*     padding-bottom: 12px; */
/* } */

.article-advert {
    margin-top: 0;
    padding-bottom: 9px;
    border-bottom: 1px dotted lightgray;

    width: 100%;
    text-align: center;
}

.article-advert h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 12px;
}


.supportus-edit {
    background-color: yellow;
}

.supportus-edit:before {
   content: "SUPPORT GROUNDUP";
}
.supportus img {
    width: 100%;
}


/******************************************/
/* Topics and share */




#article-misc {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #ebebe0;
    border-bottom: 1px solid #ebebe0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

#sharing a {
    /* color: black;*/
}

#sharing img, #sharing i  {
    margin-left: 18px;
}

/* Letter writing */

#write-letter {
    background-color: #26aae2;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#write-letter a {
    color: white;
}

/******************************************/


#article-copyright {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px;
    background-color: #F1F2F2;
    font-size: 14px;
    line-height: 160%;
}


li {
    margin-top: 6px;
    margin-bottom: 6px;
}

#list-header {
    margin: 7px;
    padding: 27px;
}

#list-header, #list-content {
    background-color: white;
}


h2.summary-title {
    margin-top: 0;
    line-height: 130%;
    font-weight: normal;
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
}

h2.first-summary-title {
    font-size: 18px;
    margin-bottom: 3px;
}


#top-article a, .article-summary a {
    color: #333;
    text-decoration: none;
}

#top-article .first-summary-title a:hover,
.summary-title a:hover {
    color: #26AAE2;
}

.thumbnail {
    margin-bottom: 10px;
}

#summary-list-heading, #topic-heading {
    text-align: center;
}

.article-list-heading {
    background-color: #4D4D4D;
    color: white;
    font-size: 14px;
    padding: 9px;
}


.summary-byline,
.summary-dateline,
.summary-category
{
    font-size: 10px;
}

img.summary-image {
    width: 100%;
    margin: 0;
}

div.summary-image-container {
    height: 105px;
    overflow: hidden;
}


.panel-title > a:nth-child(1) {
    font-weight: bold;
    margin-left: 20px;
}


#sidebar h2 {
    font-size: 19px;
}

#sidebar img {
    max-width: 100%;
}


.sidebar-block p {
    font-size: 16px;
    line-height: 125%;
}

#sidebar-links a {
    width: 100% !important;
}


@media (min-width: 600px) {
   #whatsapp-share, .whatsapp-share {
	display: none;
    }
    div.article-summary {
	max-height: 220px;
    }
    div.article-summary.with-no-image {
	height: 190px;
    }
    div.article-summary.with-no-summary-text {
	height: 130px;
    }
    div.article-summary

    #first-in-list div.article-summary,
    #second-in-list div.article-summary {
    	height: inherit;
    }

    h2.summary-title {
	font-size: 22px;
    }

    h2.first-summary-title {
	font-size: 28px;
    }
    div.article-summary.with-no-image h2.summary-title {
	font-size: 20px;
    }
    .article-list-heading {
	font-size: 22px;
    }
    .summary-text, .thumbnail p.intro {
	display: block;
	font-weight: normal;
	font-size: 16px;
    }
    .first-summary-text {
	margin-top: 0;
	margin-bottom: 6px;
    }
    div.article-summary.with-no-image p.summary-text {
	font-size: 16px;
    }
    .summary-byline,
    .summary-dateline,
    .summary-category
    {
	font-size: 12px;
    }
    div.summary-image-container {
	height: 180px;
	overflow: hidden;
    }
}

@media (max-width: 767px) {
    .summary-text, .thumbnail p.intro {
	display: none;
    }
    #see-also img {
	height: 140px;
    }
    #republish {
	display: none;
    }
}


div.commission-due-input input {
    width: 75px;
}


ul.icons {
    list-style-type: none;
}

ul.icons li {
    display: inline-block;
}


.icons a {
    display: inline-block;
    width: 25px;
    height: 20px;
    margin: 12px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.icons a.twitter { background: url(/static/newsroom/images/sprites/twitter.png) center top no-repeat; }

.icons a.rss { background: url(/static/newsroom/images/sprites/rss.png) center top no-repeat; }

.icons a.facebook { background: url(/static/newsroom/images/sprites/facebook.png) center top no-repeat; }

.icons a:hover { background-position: left -34px; }



article {
    margin-bottom: 12px;
}

div.editor-summary {
    background-color: #E6E7E8;
    padding: 10px;
}


#footer {
    background-color: #4D4D4D;
    color: white;
    padding-top: 18px;
    padding-bottom: 20px;
}

#footer a {
    color: white;
}

#footer a:link {
    text-decoration: underline;
}

.footer-text {
    padding-left: 50px;
}

.subtitle {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 14px;
    color: #909090;
}


h2, .subheading {
    font-size: 22px;
    font-weight: bold;
    margin-top: 22px;
}

h3 {
    font-size: 17px;
}


div.featured-photo {
    margin-left: auto;
    margin-right: auto;
}

.article-summary {
    margin-bottom: 0px;
}


img.summary-image {
    margin-bottom: 5px;
    width: 100%;
}

.social-media i {
    background-color: white;
    color: #4D4D4D;
    padding: 3px;
}


div.thumbnail {
    border: none;
    border-bottom: inherit;
}

.summary-caption {
    text-align: center;
    margin-top: 5px;
}

#paginator {
    text-align: center;
}


div#article-share-bottom {
    line-height: 24px;
}

#comment-policy {
    margin-top: 15px;
    border-top: 1px solid #e6e6e6;
    padding-top: 15px;
}

blockquote {
    padding: 0 0 0 12px;
    margin: 6px 0 6px 0;
}

#article-list p.intro {
    font-weight: normal;
    font-size: 18px;
}


p.author-description, p.disclaimer, p.correction {
    font-style: italic;
}


.pquote {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    line-height: 150%;
    color: #26abe2;
}


#clear-cache-form {
    margin-bottom: 10px;
}

a.admin-menu-item {
    color: red !important;
}

#see-also img, #read-next img {
    width:100%;
    height:100%;
}

#see-also h2, #read-next h2 {
    margin-bottom: 6px;
}

#read-next p {
    font-weight: bold;
}

#most-popular, #latest-letters {
    margin-bottom: 10px;
}

#most-popular ol, #see-also ul, #latest-letters ul {
    font-weight: bold;
    padding-left: 25px;
}

#see-also ul {
    list-style-type: disc;
    padding-left: 20px;
}


@media (max-width: 345px) {
    #newsletter-signup a {
	font-size: 12px;
    }
}

@media (max-width: 768px) {
    .subheading {
	font-size: 20px;
    }
    .pquote {
	font-size: 20px;
    }
    blockquote {
	font-size: 18px;
    }
    #content-extra {
	padding-top: 6px;
    }
}


#see-also p, #read-next p {
    margin-top: 6px;
}


/**************************/
/* Letters and Commission form */


#letter-form h4 a {
    font-size: 24px;
    line-height: 135%;
}

.letter-byline  {
    font-style: italic;
}

.letter-thank-you {
    font-weight: bold;
}

#letter-form {
    line-height: 130%;
}

#letter-form label, #letter-form input, #letter-form textarea
{
    display: block;
}

#letter-form .helptext {
    font-size: 12px;
    display: block;
    line-height: 140%;
    margin-top: 3px;
}

#letter-form .errorlist, #invoice-form .errorlist, #commission-detail .errorlist {
    color: red;
    list-style: none;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

#letter-form input, #letter-form textarea {
    width: 100%;
}

table#invoice-form .helptext, #commission-detail .helptext {
    font-size: 9px;
    font-weight: bold;
}

#invoice-table span.status- {
    color: #e6ac00;
}

#invoice-table span.status0 {
    color: red;
}

#invoice-table span.status1 {
    color: #333300;
}

#invoice-table span.status2 {
    color: indigo;
}

#invoice-table span.status3 {
    color: green;
}

#invoice-table span.status4 {
    color: brown;
}

#invoice-table span.status5 {
    color: black;
    text-decoration: line-through;
}




/************ Styles for editors and administrators - PC only *****************/
/* These don't need to be responsive. We don't edit on tablets or phones. */

#admin-area {
    position: fixed;
    top: 50px;
    right: 40px;
    margin-bottom: 20px;
}

#admin-user, .editing-user {
    font-weight: bold;
    background-color: #e5ffff;
    padding: 10px;
    font-size: 10px;
    display: block;
}

.editing-user {
    background-color: pink;
}

#support-article p {
    margin-top: 3px;
}
#support-article p.call {
    font-weight: bold;
    margin-top: 22px;
    margin-bottom: 3px;
}
/* Advert */



.frontpage-advert, #sidebar-advert, .image-max-100pc {
    max-width: 100%;
}

.frontpage-advert h2, #sidebar-advert h2 {
    font-size: 10px;
    font-weight: normal;
    text-align: center;
}

iframe {
    max-width: 100%;
}

h3.advert-title {
    font-size: 10px;
    text-align: center;
    font-color: gray;
    text-transform: uppercase;
    padding: 6px;
}

/* .side-advert:before { */
/*     content: "ADVERTISEMENT"; */
/*     padding-left: 30%; */
/* } */

.side-advert {
    margin-top: 0px;
    margin-bottom: 5px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.side-advert h2 {
    margin-top: 0px;
    margin-left: 0;
    padding-left: 0;
}


.appeal img {
    width: 100%;
}

.highlighted {
    background-color: yellow;
}

/***************/
/* Commission detail */

#commission-detail table
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#commission-detail td { padding: 5px;}

#commission-detail select,
#commission-detail option,
#commission-detail #id_notes  {
    width: 450px;
    max-width: 100%;
}

.pgwSlider .ps-caption {
    font-size: 10px;
    background: rgba(0,0,0,0.3);
}

@media (min-width: 600px) {
    .pgwSlider .ps-caption {
            font-size: 16px;
    }
}


div.background-img {
    background-repeat: no-repeat;
    color: white;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    background-position: center;
    background-attachment: fixed;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
