{% extends "base_20161106.html" %}
{% load humanize %}

{% block title %}
    Analysis of commissions {{block.super}}
{% endblock %}

{% block content %}
    <style>
     select#id_date_from_year {width:100px;}
     select#id_date_from_month {width:120px;}
     select#id_date_from_day  {width:60px;}
     select#id_date_to_year {width:100px;}
     select#id_date_to_month {width:120px;}
     select#id_date_to_day  {width:60px;}
     #entry-table tr:first-of-type th {cursor: pointer;}
     #entry-table th.asc::after {
         content: "↑";
     }
     #entry-table th.des::after {
         content: "↓";
     }
     #entry-table thead {
         background-color: #F0F8FF;
     }
     #entry-table tbody tr:nth-child(even) {
         background-color: #F0F8FF;
     }
    </style>

    {{form.media}}
    <div id="commission-detail">
        <h1>Commission analysis</h1>
        <h2>Select criteria</h2>
        <form method="post"
              action="{% url 'payments:commissions.detail.analysis' %}">
            {% csrf_token %}
            <table>
                {{form.as_table}}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Analyse" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    {% if len_commissions %}
        <div>
            <p>{{len_commissions}} entries
                <button onclick="downloadcsv('commissions.csv')">
                    Export to spreadsheet
                </button>
            </p>
            <table id="entry-table"
                   cellpadding="10"
                   class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th onclick="sortTable(this, 0, 'A')">
                        Invoice
                    </th>
                    <th onclick="sortTable(this, 1, 'A')">
                        Author
                    </th>
                    <th onclick="sortTable(this, 2, 'A')">
                        Description
                    </th>
                    <th onclick="sortTable(this, 3, 'A')">
                        Fund
                    </th>
                    <th class="asc"
                        onclick="sortTable(this, 4, 'A')">
                        Date approved
                    </th>
                    <th style="text-align:right"
                        onclick="sortTable(this, 5, 'N')">
                        Amount
                    </th>
                    <th style="text-align:right"
                        onclick="sortTable(this, 6, 'N')">
                        PAYE
                    </th style="text-align:right">
                    <th style="text-align:right"
                            onclick="sortTable(this, 7, 'N')">
                        VAT
                    </th>
                    <th style="text-align:right"
                        onclick="sortTable(this, 8, 'N')">
                        Due
                    </th>
                </tr>
                <tr>
                    <th>
                        Total:
                    </th>
                    <th></th><th></th><th></th><th></th>
                    <th style="text-align:right">
                        {{total_amount|floatformat:"2"|intcomma}}
                    </th>
                    <th style="text-align:right">
                        {{total_paye|floatformat:"2"|intcomma}}
                    </th>
                    <th style="text-align:right">
                        {{total_vat|floatformat:"2"|intcomma}}
                    </th>
                    <th style="text-align:right">
                        {{total_due|floatformat:"2"|intcomma}}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for commission in commissions %}
                    <tr>
                        <td>
                            <a href="{% url "payments:invoice.detail" commission.invoice.author.pk commission.invoice.invoice_num %}">
                                {{commission.invoice.author.pk}}-{{commission.invoice.invoice_num}}
                            </a>
                        </td>
                        <td>
                            {{commission.invoice.author}}
                        </td>
                        <td>
                            {{commission.description}}
                        </td>
                        <td>
                            {{commission.fund}}
                        </td>
                        <td>
                            {{commission.date_approved|date:"Y-m-d"}}
                        </td>
                        <td style="text-align:right">
                            {{commission.commission_due|floatformat:"2"|intcomma}}
                        </td>
                        {% with commission.calc_payment as payment %}
                            <td style="text-align:right">
                                {{payment.1|floatformat:"2"|intcomma}}
                            </td>
                            <td style="text-align:right">
                                {{payment.2|floatformat:"2"|intcomma}}
                            </td>
                            <td style="text-align:right">
                                {{payment.0|floatformat:"2"|intcomma}}
                            </td>
                        {% endwith %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}


{% block javascript-includes %}
    {{block.super}}

    <script>

     function sortTable(element, n, sort_type)
     {
         var table = document.getElementById("entry-table");
         var thead = table.getElementsByTagName("thead")[0];
         var tbody = table.getElementsByTagName("tbody")[0];
         var reverse = 0;

         if (element.classList.contains("asc")) {
             reverse = -1;
             element.classList.remove("asc");
             element.classList.add("des");
         } else if (element.classList.contains("des")) {
             reverse = 1;
             element.classList.remove("des");
             element.classList.add("asc");
         }

         if (reverse == 0) {
             var elements = thead.getElementsByTagName("th");
             for (let e of elements) {
                 e.classList.remove("des");
                 e.classList.remove("asc");
             }
             element.classList.add("asc");
             reverse = 1;
         }

         tr = Array.prototype.slice.call(tbody.rows, 0);
         tr = tr.sort(function(a, b) {
             x = a.getElementsByTagName("TD")[n];
             y = b.getElementsByTagName("TD")[n];
             if (sort_type=="A") {
                 return reverse * (x.textContent.trim().
                                     localeCompare( y.textContent.trim()));
             } else {
                 var cmp = Number(x.textContent.replace(/,/g,"")) <
                 Number(y.textContent.replace(/,/g,""));
                 if (reverse == -1)
                     return !cmp;
                 else
                     return cmp;
             }
         });

         for(i = 0; i < tr.length; ++i) tbody.appendChild(tr[i]);
     }


             function downloadcsv(filename) {
                 var table = document.getElementById("entry-table");
                 var text="";
                 for (var i = 0, row; row = table.rows[i]; i++) {
                     for (var j = 0, col; col = row.cells[j]; j++) {
                         if (j > 0) text += ",";
                         text += col.textContent.replace(/,/g,"").trim();
                     }
                     text += "\n";
                 }

                 var element = document.createElement('a');
                 element.setAttribute('href',
                                      'data:text/plain;charset=utf-8,' +
                                      encodeURIComponent(text));
                 element.setAttribute('download', filename);

                 element.style.display = 'none';
                 document.body.appendChild(element);

                 element.click();

                 document.body.removeChild(element);
             }
    </script>
{% endblock %}
