{% extends "base_20161106.html" %}
{% load humanize %}

{% block title %}
    Invoices {{block.super}}
{% endblock %}

{% block content %}
    <style>
     #invoice-table {
         max-width: 850px;
     }
     #invoice-table thead {
         background-color: #F0F8FF;
     }
     #invoice-table tbody tr:nth-child(even) {
         background-color: #F0F8FF;
     }
     #invoice-table thead th:nth-child(n+2) {cursor: pointer;}
     #invoice-table th.asc::after {
         content: "↑";
     }
     #invoice-table th.des::after {
         content: "↓";
     }
    </style>

    <p style="margin-top: 18px;">Invoices
        from
        <select id="month-from">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select id="year-from"></select>
        to
        <select id="month-to">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select id="year-to"></select>
        {% if author %}
            for  {{author}}
        {% endif %}
        <button id="date-filter" onclick="filterDate()" type="button">Filter</button>
    </p>
    <p>
        <a href="{% url "payments:invoice.list" 1900 1 5000 12 author_pk %}">
            All invoices {% if staff_view and author_pk  %} for this author {% endif %}
        </a>
        &nbsp;|&nbsp;
        {% if staff_view and author_pk  %}
            <a href="{% url "payments:invoice.list" 1900 1 5000 12 0 %}">
                All invoices for all authors
            </a>
            &nbsp;|&nbsp;
        {% endif %}
        <a href="{% url "payments:invoice.list" latest_month.year latest_month.month latest_month.year latest_month.month author_pk %}">
            Latest: {{latest_month|date:"F Y"}}
        </a>
        {% if previous_month.year > 2012 %}
            &nbsp;|&nbsp;
            <a href="{% url "payments:invoice.list" previous_month.year previous_month.month previous_month.year previous_month.month author_pk %}">
                Previous: {{previous_month|date:"F Y"}}
            </a>
        {% endif %}
        {% if next_month < latest_month %}
            &nbsp;|&nbsp;
            <a href="{% url "payments:invoice.list" next_month.year next_month.month next_month.year next_month.month author_pk %}">
                Next: {{next_month|date:"F Y"}}
            </a>
        {% endif %}
        {% if staff_view %}
            &nbsp;|&nbsp;
            <a href="{% url "payments:commissions.detail.analysis" %}">
                Analysis
            </a>
        {% endif %}
        &nbsp;|&nbsp;
        <button onclick="downloadcsv('commissions.csv')">
            Export to spreadsheet
        </button>
    </p>
    <p>
        Invoices: {{len_invoices}}
        | Paid: {{total_paid|floatformat:"2"|intcomma}}
        | Outstanding: {{total_outstanding|floatformat:"2"|intcomma}}
        | Total: {{total|floatformat:"2"|intcomma}}
    </p>
    <table class="table table-bordered table-condensed" id="invoice-table">
        <thead>
        <tr>
            <th>#</th>
            <th class="asc" onclick="sortTable(this, 1, 'S')">Status</th>
            <th style="text-align:right" onclick="sortTable(this, 2, 'N')">
                Before tax & VAT</th>
            <th style="text-align:right" onclick="sortTable(this, 3, 'N')">Tax</th>
            <th style="text-align:right" onclick="sortTable(this, 4, 'N')">Vat</th>
            <th style="text-align:right" onclick="sortTable(this, 5, 'N')">Due</th>
            {% if staff_view %}
                <th onclick="sortTable(this, 6, 'A')">Name</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                {% with invoice.quick_calc_payment as payment %}
                    {% if staff_view or payment.3 > 0.00 %}
                        <tr>
                            <td>
                                <a href="{% url "payments:invoice.detail" invoice.author.pk invoice.invoice_num %}">
                                    {{invoice.short_string}}
                                </a>
                            </td>
                            <td>
                                <span class="status{{invoice.status}}">
                                    <span class="status" style="display: none;">
                                        {{invoice.status}}</span>
                                    <span>{{invoice.get_status_display}}
                                    {% if invoice.status == "4" %}
                                        on {{invoice.date_time_processed|date:"Y-m-d"}}
                                    {% endif %}</span>
                                </span>
                            </td>

                            <td style="text-align:right">
                                {{payment.3|floatformat:2|intcomma}}</td>
                            <td style="text-align:right">
                                {{payment.2|floatformat:2|intcomma}}</td>
                            <td style="text-align:right">
                                {{payment.1|floatformat:2|intcomma}}</td>
                            <td style="text-align:right">
                                {{payment.0|floatformat:2|intcomma}}</td>
                            {% if staff_view %}
                                <td>
                                    <a href="{%  url 'payments:invoice.list' 1900 1 5000 12 invoice.author.pk %}">
                                        {{invoice.author}}
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>

    <script>
     var current_year = new Date().getFullYear();
     for(var i=2012; i<=current_year; i++){
         var select_year_from = document.getElementById("year-from");
         var option_from = document.createElement("OPTION");
	 select_year_from.options.add(option_from);
	 option_from.text = i;
	 option_from.value = i;
         if (i == {{from_date.year}}) {
             option_from.selected = true;
         }
         var select_year_to = document.getElementById("year-to");
         var option_to = document.createElement("OPTION");
	 select_year_to.options.add(option_to);
	 option_to.text = i;
	 option_to.value = i;
         if (i == {{from_date.year}} || (i == 2012 && {{from_date.year}} < 2012)) {
             option_from.selected = true;
         }
         if (i == {{end_date.year}}  ||
             (i == current_year && {{end_date.year}} > current_year)) {
             option_to.selected = true;
         }
     }
     document.getElementById('month-from').
              getElementsByTagName('option')[{{from_date.month}} - 1].selected = 'selected'
     document.getElementById('month-to').
              getElementsByTagName('option')[{{end_date.month}} - 1].selected = 'selected'

     var filterDate = function()
     {
         var e = document.getElementById("year-from");
         var year_from = e.value;
         var e = document.getElementById("month-from");
         var month_from = e.value;
         var e = document.getElementById("year-to");
         var year_to = e.value;
         var e = document.getElementById("month-to");
         var month_to = e.value;

         url = "{% url 'payments:invoice.list' %}" +
               year_from + "/" + month_from + "/" +
               year_to + "/" + month_to + '/' +
                        {{author_pk}};
         location.href = url;
     }

     function sortTable(element, n, sort_type)
     {
         var table = document.getElementById("invoice-table");
         var thead = table.getElementsByTagName("thead")[0];
         var tbody = table.getElementsByTagName("tbody")[0];
         var reverse = 0;

         if (element.classList.contains("asc")) {
             reverse = -1;
             element.classList.remove("asc");
             element.classList.add("des");
         } else if (element.classList.contains("des")) {
             reverse = 1;
             element.classList.remove("des");
             element.classList.add("asc");
         }

         if (reverse == 0) {
             var elements = thead.getElementsByTagName("th");
             for (let e of elements) {
                 e.classList.remove("des");
                 e.classList.remove("asc");
             }
             element.classList.add("asc");
             reverse = 1;
         }
         console.log(reverse);
         tr = Array.prototype.slice.call(tbody.rows, 0);
         tr = tr.sort(function(a, b) {
             var x = a.getElementsByTagName("TD")[n];
             var y = b.getElementsByTagName("TD")[n];
             if (sort_type=="A") {
                 return reverse * (x.textContent.trim().
                                     localeCompare( y.textContent.trim()));
             } else if (sort_type == "N") {
                 if (Number(x.textContent.replace(/,/g,"").replace("R","").trim()) <
                     Number(y.textContent.replace(/,/g,"").replace("R","").trim()))
                     return reverse * -1;
                 else
                     return reverse * 1;
             } else {
                 s1 = x.getElementsByClassName("status")[0];
                 s2 = y.getElementsByClassName("status")[0];
                 return reverse * (s1.textContent.trim().
                                      localeCompare( s2.textContent.trim()));
             }
         });
         for(i = 0; i < tr.length; ++i) {
             tbody.appendChild(tr[i]);
         }
     }


     function downloadcsv(filename) {
         var table = document.getElementById("invoice-table");
         var text="";
         for (var i = 0, row; row = table.rows[i]; i++) {
             for (var j = 0, col; col = row.cells[j]; j++) {
                 if (j > 0) text += ",";
                 text += col.textContent.replace(/,/g,"").replace(/\n/g,"").trim().
                             replace(/\s\s+/g, ' ');
             }
             text += "\n";
         }

         var element = document.createElement('a');
         element.setAttribute('href',
                              'data:text/plain;charset=utf-8,' +
                              encodeURIComponent(text));
         element.setAttribute('download', filename);

         element.style.display = 'none';
         document.body.appendChild(element);

         element.click();

         document.body.removeChild(element);
     }
    </script>


{% endblock %}
