<table cellpadding="10" class="table table-bordered table-condensed">
    <tr>
        <th>Article</th>
        <th>Description</th>
        <th>Excl. tax</th>
        <th>PAYE</th>
        <th>VAT</th>
        <th>Due</th>
        {% if staff_view %}<th>Fund</th>{% endif %}
        {% if can_edit_commissions and staff_view %}
            <th><i class="fa fa-eraser"></i></th>
            <th><i class="fa fa-edit"></i></th>
        {% endif %}
    </tr>


    {% for commission, form in commissionformset %}
        {% if can_edit_commissions %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        {% endif %}
        {% with commission.calc_payment as payment %}
            <tr>
                <td>
                    {% if commission.article %}
                        <a href="http://{{site.domain}}{% url "article.detail" commission.article.slug %}">
                            {{commission.article.title}}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {{commission.description}}
                    {% if commission.article.category %}
                        <br /><em>{{commission.article.category}}</em>
                    {% endif %}
                    {% if commission.article.region.slug != "none" %}
                        <br />
                        {{commission.article.region.get_specific}}
                    {% endif %}
                </td>
                <td align="right">
                    {% if can_edit_commissions %}
                        <div class="commission-due-input">
                            {{ form.commission_due }}
                        </div>
                    {% else %}
                        {{payment.3|floatformat:0}}
                    {% endif %}
                </td>
                <td align="right">{% if payment.2 > 0.00 %}-{%endif %}{{payment.2|floatformat:0}}
                    {% if can_edit_commissions %}
                        <div class="tax-input">
                            {{ form.taxable }}
                        </div>
                    {% endif %}
                </td>
                <td align="right">
                    {{payment.1|floatformat:0}}
                    {% if can_edit_commissions %}
                        <div class="vat-input">
                            {{ form.vatable }}
                        </div>
                    {% endif %}
                </td>
                {% if staff_view %}
                    <td align="right">
                        {{payment.0|floatformat:0}}
                    </td>
                {% else %}
                    <td align="right">{{payment.0|floatformat:0}}</td>
                {% endif %}
                {% if staff_view %}
                    <td>
                        {% if can_edit_commissions %}
                            <div class="fund-input">
                                {{ form.fund }}
                            </div>
                        {% else %}
                            {{commission.fund}}
                        {% endif %}
                    </td>
                    {% if can_edit_commissions %}
                        <td>
                            {{form.deleted}}
                        </td>
                        <td>
                            <a href="
                                     {% url 'commissions.detail' commission.pk %}
                                     "
                               target="_blank">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endwith %}
    {% endfor %}
    {% with invoice.calc_payment as payment %}
        <tr>
            <td><b>TOTAL</b></td>
            <td></td>
            <td align="right">{{payment.3|floatformat:0}}</td>
            <td align="right">{% if payment.2 > 0.00 %}-{%endif %}{{payment.2|floatformat:0}}</td>
            <td align="right">{{payment.1|floatformat:0}}</td>
            <td align="right"><b>{{payment.0|floatformat:0}}</b></td>
            {% if staff_view %}<td></td>
                {% if can_edit_commissions %}<td></td>{% endif %}
            {% endif %}
        </tr>
    {% endwith%}
</table>
<p>Amounts are in South African Rands</p>
