{% extends "base_20161106.html" %}
{% load humanize %}

{% block title %}
    Invoices {{block.super}}
{% endblock %}

{% block content %}

    <p style="margin-top: 18px;">Invoices
        from
        <select id="month-from">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select id="year-from"></select>
        to
        <select id="month-to">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select id="year-to"></select>
        {% if author %}
            for  {{author}}
        {% endif %}
        <button id="date-filter" onclick="filterDate()" type="button">Filter</button>
    </p>
    <p>
        <a href="{% url "payments:invoice.list" 1900 1 5000 12 author_pk %}">
            All invoices {% if staff_view and author_pk  %} for this author {% endif %}
        </a>
        &nbsp;|&nbsp;
        {% if staff_view and author_pk  %}
            <a href="{% url "payments:invoice.list" 1900 1 5000 12 0 %}">
                All invoices for all authors
            </a>
            &nbsp;|&nbsp;
        {% endif %}
        <a href="{% url "payments:invoice.list" latest_month.year latest_month.month latest_month.year latest_month.month author_pk %}">
            Latest: {{latest_month|date:"F Y"}}
        </a>
        {% if previous_month.year > 2012 %}
            &nbsp;|&nbsp;
            <a href="{% url "payments:invoice.list" previous_month.year previous_month.month previous_month.year previous_month.month author_pk %}">
                Previous: {{previous_month|date:"F Y"}}
            </a>
        {% endif %}
        {% if next_month < latest_month %}
            &nbsp;|&nbsp;
            <a href="{% url "payments:invoice.list" next_month.year next_month.month next_month.year next_month.month author_pk %}">
                Next: {{next_month|date:"F Y"}}
            </a>
        {% endif %}
    </p>
    <p>
        Paid: R{{total_paid|floatformat:"2"|intcomma}}
        | Outstanding: R{{total_outstanding|floatformat:"2"|intcomma}}
        | Total: R{{total|floatformat:"2"|intcomma}}
    </p>
    <table class="table" id="invoice-table">
        <tr>
            <th>#</th>
            <th>Status</th>
            <th >Before tax & VAT</th>
            <th >Tax</th>
            <th >Vat</th>
            <th >Due</th>
            {% if staff_view %}
                <th>Name</th>
            {% endif %}
        </tr>
        {% for invoice in invoices %}
            {% with invoice.calc_payment as payment %}
                {% if staff_view or payment.3 > 0.00 %}
                    <tr>
                        <td>
                            <a href="{% url "payments:invoice.detail" invoice.author.pk invoice.invoice_num %}">
                                {{invoice.short_string}}
                            </a>
                        </td>
                        <td>
                            <span class="status{{invoice.status}}">
                                {{invoice.get_status_display}}
                                {% if invoice.status == "4" %}
                                    on {{invoice.date_time_processed|date:"j M Y"}}
                                {% endif %}
                            </span>
                        </td>

                        <td>R{{payment.3|floatformat:2}}</td>
                        <td>R{{payment.2|floatformat:2}}</td>
                        <td>R{{payment.1|floatformat:2}}</td>
                        <td>R{{payment.0|floatformat:2}}</td>
                        {% if staff_view %}
                            <td>
                                <a href="{%  url 'payments:invoice.list' 1900 1 5000 12 invoice.author.pk %}">
                                    {{invoice.author}}
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </table>

    <script>
     var current_year = new Date().getFullYear();
     for(var i=2012; i<=current_year; i++){
         var select_year_from = document.getElementById("year-from");
         var option_from = document.createElement("OPTION");
	 select_year_from.options.add(option_from);
	 option_from.text = i;
	 option_from.value = i;
         if (i == {{from_date.year}}) {
             option_from.selected = true;
         }
         var select_year_to = document.getElementById("year-to");
         var option_to = document.createElement("OPTION");
	 select_year_to.options.add(option_to);
	 option_to.text = i;
	 option_to.value = i;
         if (i == {{from_date.year}} || (i == 2012 && {{from_date.year}} < 2012)) {
             option_from.selected = true;
         }
         if (i == {{end_date.year}}  ||
             (i == current_year && {{end_date.year}} > current_year)) {
             option_to.selected = true;
         }
     }
     document.getElementById('month-from').
              getElementsByTagName('option')[{{from_date.month}} - 1].selected = 'selected'
     document.getElementById('month-to').
              getElementsByTagName('option')[{{end_date.month}} - 1].selected = 'selected'

     var filterDate = function()
     {
         var e = document.getElementById("year-from");
         var year_from = e.value;
         var e = document.getElementById("month-from");
         var month_from = e.value;
         var e = document.getElementById("year-to");
         var year_to = e.value;
         var e = document.getElementById("month-to");
         var month_to = e.value;

         url = "{% url 'payments:invoice.list' %}" +
               year_from + "/" + month_from + "/" +
               year_to + "/" + month_to + '/' +
               {{author_pk}};
         location.href = url;
     }
    </script>


{% endblock %}
