{% extends "base_20161106.html" %}

{% block title %}
    Invoice {{block.super}}
{% endblock %}


{% block css-override %}
    {% if can_edit == False %}
        <style>
         .helptext {display: none;}
        </style>
    {% endif %}
    {% if print_view == True %}
        <style>
         #id_query {display: none;}
         label[for="id_query"] {display:none;}
        </style>
    {% else %}
        {{block.super}}
    {% endif %}
{% endblock %}

{% block admin-area %}
    {% if print_view %}
    {% else %}
        {{block.super}}
    {% endif %}
{% endblock %}

{% block banner %}
    {% if print_view %}
    {% else %}
        {{block.super}}
    {% endif %}
{% endblock %}

{% block messages %}
    {% if print_view %}
    {% else %}
        {{block.super}}
    {% endif %}
{% endblock %}


{% block content %}
    <h1>Invoice #{{invoice.short_string}} for {{invoice.author}}</h1>
    <h2>
        {% if invoice.status == "-" %}
            This invoice is being prepared by the editor
        {% elif invoice.status == "0" %}
            {{invoice.author}} needs to approve this invoice
        {% elif invoice.status == "1" %}
            {{invoice.author}} has queried this invoice
        {% elif invoice.status == "2" %}
            {{invoice.author}} has approved this invoice
        {% elif invoice.status == "3" %}
            The editors have approved this invoice for payment
        {% elif invoice.status == "4" %}
            Paid on {{invoice.date_time_processed|date:"j M Y"}}
        {% elif invoice.status == "5" %}
            This invoice has been marked for deletion.
        {% endif %}
    </h2>
    <form
        action="{% url 'invoice.detail' invoice.author.pk invoice.invoice_num %}"
        method="post">
    <div class="container">
        <div class="row">
	    <div class="col-xs-12 col-md-6">

                    {% if can_edit == False %}<fieldset disabled>
                    {% endif %}
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <table class="table table-striped table-condensed"
                           id="invoice-form">

                        {{ form.as_table }}
                        {% if can_edit %}
                        <tr>
                            <td>
                                {% if can_edit_commissions %}
                                    <input type="submit"
                                           name="update_button"
                                           class="btn btn-info"
                                           value="Update details" />
                                    &nbsp;
                                    {% if can_edit_commissions %}
                                        <br /><br />
                                        <input type="submit"
                                               name="delete_button"
                                               class="btn btn-danger"
                                               value="Delete" />
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if not staff_view %}
                                    <input type="submit"
                                           name="query_button"
                                           class="btn btn-warning"
                                           value="Query invoice" />
                                    &nbsp;
                                    <input type="submit"
                                           name="pay_button"
                                           class="btn btn-primary"
                                           value="Please pay invoice" />
                                {% else %}
                                    {% if can_edit_commissions %}
                                        <input type="submit"
                                               name="begin_button"
                                               class="btn"
                                               value="Begin" />
                                        &nbsp;
                                        <input type="submit"
                                               name="return_button"
                                               class="btn
                                                      {% if invoice.status == "-" or invoice.status == "1" %}
                                                      btn-primary
                                                      {% endif %}"
                                               value="Author" />
                                        &nbsp;
                                        <input type="submit"
                                               name="approve_button"
                                               class="btn
                                                      {% if invoice.status == "2" %}
                                                      btn-primary
                                                      {% endif %}"
                                               value="Approve" />
                                        &nbsp;
                                    {% endif %}
                                    <input type="submit"
                                           name="paid_button"
                                           class="btn
                                                  {% if invoice.status == "3" %}
                                                  btn-primary
                                                  {% endif %}""
                                           value="Paid" />
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                    {% if can_edit == False %}</fieldset>{% endif %}

            </div>
	    <div class="col-xs-12 col-md-6">
                {% include "payment/invoice_table.html" %}
                {% if not print_view %}
                    <a href="{% url "invoice.list" %}">INVOICES</a> |
                    <a href="{% url "invoice.print" invoice.author.pk invoice.invoice_num %}"
                       target="_blank"
                    >
                        PRINT
                    </a>
                    {% if can_edit_commissions %}
                        |
                        <a href="{% url 'commissions.detail.add' %}?author={{invoice.author.pk}}"
                           target="_blank">
                            ADD COMMISSION
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    </form>
    <hr />
{% endblock %}

{% block footer %}
    {% if print_view %}
    {% else %}
        {{block.super}}
    {% endif %}
{% endblock %}

{% block javascript-includes %}
    {% if print_view %}
    {% else %}
        {{block.super}}
    {% endif %}
{% endblock %}
