{% load static %}
{% load humanize %}
{% with invoice.calc_payment as payment %}

    <!doctype html>
    <html lang="en">
        <head>
            <meta charset="utf-8">

            <title>Cheque requisition {{invoice.requisition_num}}</title>
            <meta name="description" content="Cheque Requisition">
            <meta name="author" content="{{request.user}}">

            <title>
                CR_{{invoice.requisition_number}}_{{invoice.date_time_processed|date:"Ymd"}}_{{invoice.author}}
            </title>
            <style>
             body {
                 width: 850px;
                 margin: auto;
             }
             table {
                 margin-bottom: 16px;
             }

             #top td, #commissions th {
                 text-align: left;
                 padding: 8px;
             }

             table {
                 border-collapse: collapse;
             }
             #commissions td, #commissions th {
                 border: 1px solid black;
                 text-align: left;
                 padding: 8px;
             }

             #bottom td, #commissions th {
                 text-align: left;
                 padding: 8px;
             }

             .unused {
                 background-color: lightgray;
             }
            </style>
        </head>

        <body>
            <p style="font-size:12px; text-align: center;">
                <img width="200"
                     src="https://www.groundup.org.za/static/newsroom/images/LogoFiles/Logos20180905/MasterLogo.png"
                     alt="GroundUp Logo" /><br />
                tel: +27 21 788 9163 fax: +27 21 7883973<br />
                email: info@groundup.org.za, web: www.groundup.org.za
            </p>

            <h1 style="text-align:center;">
                Payment requisition {{invoice.requisition_number}}
            </h1>

            <p style="text-align:center;">
               {{invoice.date_time_editor_approved|date:"j M Y"}}
            </p>

            <table id="top">
                <tr>
                    <td>Funder</td>
                    <td>{{invoice.fund.name}}</td>
                </tr>
                <tr>
                    <td>Fund account</td>
                    <td><b>{{invoice.fund.bank_account}}</b></td>
                </tr>
                <tr>
                    <td>
                        {% if invoice.author.freelancer == 't' %}
                            Our ref
                        {% elif invoice.author.freelancer == 'f' %}
                            Invoice #
                        {% else  %}
                            GroundUp ref
                        {% endif %}
                    </td>
                    <td>
                        {{invoice.short_string}}
                    </td>
                </tr>

                <tr>
                    <td>
                        Payment method
                    </td>
                    <td>
                        {{invoice.payment_method}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Total payment
                    </td>
                    <td>
                        R&nbsp;{{invoice.amount_paid|floatformat:2|intcomma}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Description
                    </td>
                    <td>
                        {{invoice.description}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Pay to
                    </td>
                    <td>
                        {% if invoice.invoicing_company %}
                            {{invoice.invoicing_company}} ({{invoice.author}})
                        {% else %}
                            {{invoice.author}}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Bank name
                    </td>
                    <td>
                        {{invoice.bank_name}}
                    </td>
                </tr>
                {% if invoice.bank_branch_name or invoice.bank_branch_code %}
                    <tr>
                        <td>
                            Branch
                        </td>
                        <td>
                            {{invoice.bank_branch_name}} {{invoice.bank_branch_code}}
                        </td>
                    </tr>

                {% endif %}
                <tr>
                    <td>
                        Bank account
                    </td>
                    <td>
                        {{invoice.bank_account_number}}
                    </td>
                </tr>
            </table>

            <table id="commissions">
                <tr>
                    <th>
                        Description
                    </th>
                    <th>
                        Amount (excl)
                    </th>
                    <th>
                        Pastel
                    </th>
                </tr>
                {% for item in invoice.accepted_commissions %}
                    {% if item.commission_due > 0 %}
                        <tr>
                            <td>
                                {{item.fund.description}}
                                {% if item.article %}
                                    <br />
                                    {{ item.article.title }}
                                {% endif %}
                                {% if item.description %}
                                    ({{ item.description }})
                                {% endif %}
                                {% if item.notes %}
                                    <br />
                                    {{item.notes}}
                                {% endif %}
                            </td>
                            <td style="text-align: right;">
                                R&nbsp;{{item.commission_due|intcomma}}
                            </td>
                            <td>
                                {{item.fund.name}}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

                <tr>
                    <td>
                        <b>Less PAYE @{{invoice.tax_percent}}%</b>
                    </td>
                    <td style="text-align: right;">
                        R&nbsp;{{payment.2|floatformat:2|intcomma}}
                    </td>
                    <td class="unused">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>VAT @{{invoice.vat}}%</b>
                    </td>
                    <td style="text-align: right;">
                        R&nbsp;{{payment.1|floatformat:2|intcomma}}
                    </td>
                    <td class="unused">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>TOTAL</b>
                    </td>
                    <td style="text-align: right;">
                        <b>R&nbsp;{{invoice.amount_paid|floatformat:2|intcomma}}</b>
                    </td>
                    <td class="unused">
                    </td>
                </tr>
            </table>

            <table id="bottom">
                <tr>
                    <td>
                        Vouchers attached
                    </td>
                    <td>
                        {% if invoice.vouchers_attached %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Prepared by
                    </td>
                    <td>
                        {{invoice.prepared_by}}
                    </td>
                    <td>
                        Signature: _____________________
                    </td>
                </tr>
                <tr>
                    <td>
                        Approved by
                    </td>
                    <td>
                        {{invoice.approved_by}}
                    </td>
                    <td>
                        Signature: _____________________
                    </td>
                </tr>
                <tr>
                    <td>
                        Authorised by
                    </td>
                    <td>
                        {{invoice.authorised_by}}
                    </td>
                    <td>
                        Signature: _____________________
                    </td>
                </tr>
            </table>

        </body>
    </html>
{% endwith %}
