{% extends "base_20161106.html" %}
{% load humanize %}

{% block title %}
    Invoices {{block.super}}
{% endblock %}

{% block content %}

    <h1>Invoices
        {% if not staff_view %}
            for {{request.user.first_name}} {{request.user.last_name}}
        {% else %}
            for
            {% if this_month %}
                {{this_month|date:"F Y"}}
            {% else %}
                all time
            {% endif %}
        {% endif %}
    </h1>

    {% if staff_view %}
        <p>
            Paid: R{{total_paid_for_month|floatformat:"2"|intcomma}}
            {% if total_outstanding_for_month %}
                | Outstanding: R{{total_outstanding_for_month|floatformat:"2"|intcomma}}
            {% endif %}
            {% if total_for_month %}
                | Total: R{{total_for_month|floatformat:"2"|intcomma}}
            {% endif %}
        </p>
        <p>
            {% if this_month %}
                <a href="{% url "invoice.list" previous_month.year previous_month.month 0 %}">
                    Previous: {{previous_month|date:"F Y"}}
                </a>
                &nbsp;|&nbsp;
                <a href="{% url "invoice.list" next_month.year next_month.month 0 %}">
                    Next: {{next_month|date:"F Y"}}
                </a>
                &nbsp;|&nbsp;
                <a href="{% url "invoice.list" 0 0 0 %}">
                    All
                </a>
            {% else %}
                <a href="{% url "invoice.list" next_month.year next_month.month 0 %}">
                    Go to latest month: {{next_month|date:"F Y"}}
                </a>
            {% endif %}
            {% if author %}
                &nbsp;&nbsp;&nbsp;&nbsp;Author: {{author}}
            {% endif %}
        </p>
    {% endif %}

    <table class="table" id="invoice-table">
        <tr>
            <th>#</th>
            <th>Status</th>
            <th >Before tax & VAT</th>
            <th >Tax</th>
            <th >Vat</th>
            <th >Due</th>
            {% if staff_view %}
                <th>Name</th>
            {% endif %}
        </tr>
        {% for invoice in invoices %}
            {% with invoice.calc_payment as payment %}
                {% if staff_view or payment.3 > 0.00 %}
                    <tr>
                        <td>
                            <a href="{% url "invoice.detail" invoice.author.pk invoice.invoice_num %}">

                                    {{invoice.short_string}}

                            </a>
                        </td>
                        <td>
                            <span class="status{{invoice.status}}">
                                {{invoice.get_status_display}}
                                {% if invoice.status == "4" %}
                                    on {{invoice.date_time_processed|date:"j M Y"}}
                                {% endif %}
                            </span>
                        </td>

                        <td>R{{payment.3|floatformat:2}}</td>
                        <td>R{{payment.2|floatformat:2}}</td>
                        <td>R{{payment.1|floatformat:2}}</td>
                        <td>R{{payment.0|floatformat:2}}</td>
                        {% if staff_view %}
                            <td>
                                <a href="{%  url 'invoice.list' 0 0 invoice.author.pk %}">
                                    {{invoice.author}}
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </table>

{% endblock %}
