{% extends "base.html" %}

{% block title %}
    Generate PAYE invoices
{% endblock %}

{% block additional_head %}
    {{block.super}}
    <style>
     {% include "payment/paye.css" %}
    </style>
{% endblock %}

{% block content %}
     {{ form.media }}
    <div class="container">
	<div class="row">
	    <div class="col-xs-12 col-sm-9 col-sm-push-3">
		<h1>Generate PAYE requisitions</h1>
                <form id="paye-form" method="post">{% csrf_token %}
                    <table class="table">
                        {{ form.as_table }}
                    </table>
                    <input class="btn btn-primary" type="submit" value="Generate">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
