{% extends 'base.html' %}

{% block title %}
Clear Cache {{block.super}}
{% endblock %}

{% block content %}

    {{block.super}}

    <div class="container">
	<div class="row">
	    <div class="col-xs-12 col-md-8 col-md-offset-4">
		 {% if form %}
		<h1>Clear the cache</h1>
		<div id="clear-cache-form">
		    <form action="{% url 'cache:clearcache' %}" method="post">
			{% csrf_token %}
			<div style="display: none;" {{ form }}</div>
			<input type="submit" value="Clear Cache" />
		    </form>
		</div>
		 {% endif %}
	    </div>
	</div>
    </div>

{% endblock %}
