{% extends "account/base.html" %}
{% load account socialaccount %}



{% block content %}
{% if request.user.is_authenticated %}
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <ul>
        {% if user.author.freelancer == 'f' or user.author.freelancer == 'c'  %}
            <li>
                <a href='{% url "payments:invoice.list" %}'>Invoices</a>
            </li>
        {% endif %}
        {% if allowance %}
            <li>
                <form id="allowance-form"
                      action="{% url 'newsroom:user.profile' %}"
                      method="post">{% csrf_token %}
                    I need an expense allowance for {% now "F Y" %}. I agree
                    to submit at least three articles this month.
                    <input class="btn btn-primary" type="submit"
                           value="Ask for allowance">
                </form>
            </li>
        {% endif %}
        {% if allowance_processed %}
            <li>
                Your allowance commission has been requested for this month.
            </li>
        {% endif %}
        <li><a href="{% url "account_change_password" %}">
            Change password</a>
        </li>
        <li><a href="{% url "two-factor-setup" %}">
            Setup two-factor authentication</a>
        </li>
        <li><a href="{% url "account_logout" %}">
            Logout</a>
        </li>
    </ul>


{% else %}
    <p>Please <a href="{% url 'account_login' %}">login</a>.</p>
{% endif %}

{% endblock %}
