{% extends "account/base.html" %}
{% load account socialaccount %}



{% block content %}
{% if request.user.is_authenticated %}
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <ul>
        {% if user.author.freelancer  %}
            <li>
                <a href='{% url "invoice.list" %}'>Invoices</a>
            </li>
        {% endif %}
        <li><a href="{% url "account_change_password" %}">
            Change password</a>
        </li>
        <li><a href="{% url "two-factor-setup" %}">
            Setup two-factor authentication</a>
        </li>
        <li><a href="{% url "account_logout" %}">
            Logout</a>
        </li>
    </ul>


{% else %}
    <p>Please <a href="{% url 'account_login' %}">login</a>.</p>
{% endif %}

{% endblock %}
