<h3 class="advert-title">Advert from Amazon</h3>
<div class="alignleft">
    <script type="text/javascript">
     amzn_assoc_ad_type = "banner";
     amzn_assoc_marketplace = "amazon";
     amzn_assoc_region = "US";
     amzn_assoc_placement = "assoc_banner_placement_default";
     amzn_assoc_campaigns = "gift_certificates";
     amzn_assoc_banner_type = "category";
     amzn_assoc_isresponsive = "true";
     amzn_assoc_banner_id = "1G274HKHXM7QERC7YAG2";
     amzn_assoc_tracking_id = "groundup1-20";
     amzn_assoc_linkid = "29b4babbc82f3a936a20cb3347ee8fb6";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
</div>
<div class="alignleft">
    <script type="text/javascript">
     amzn_assoc_ad_type = "banner";
     amzn_assoc_marketplace = "amazon";
     amzn_assoc_region = "US";
     amzn_assoc_placement = "assoc_banner_placement_default";
     amzn_assoc_campaigns = "kindlerotating";
     amzn_assoc_banner_type = "rotating";
     amzn_assoc_p = "12";
     amzn_assoc_width = "300";
     amzn_assoc_height = "250";
     amzn_assoc_tracking_id = "groundup1-20";
     amzn_assoc_linkid = "3ab7dcaa4c73fe829f018e0847dc4006";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
</div>
