{% extends "base.html" %}

{% block title %}
    {% if title %}{{title}}{% else %}{{heading}}{% endif %} {{block.super}}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 topic-intro">
                {% block content-intro %}
                    <div>
	                {% if heading %}
		            <h1 id="summary-list-heading">
		                {{heading|safe}}
		            </h1>
	                {% endif %}
	                {% if image %}
		            <div>
		                <img src="{{MEDIA_URL}}{{image}}" />
		            </div>
	                {% endif %}
	                {% if description %}
		            <p>{{description|safe}}</p>
	                {% endif %}
                    </div>
	        {% endblock %}
            </div>
        </div>
        {% include 'newsroom/article_list_snippet.html' %}
    </div>
{% endblock %}

{% block javascript-includes %}
    {{block.super}}
{% endblock %}
