<div class="thumbnail">
    <div class="row article-summary
		{% if include_image == '1' %}
		with-image
		{% else %}
		with-no-image
		{% endif %}
		{% if include_summary == '1' %}
		with-summary-text
		{% else %}
		with-no-summary-text
		{% endif %}
		">

	{% if include_image == "1" and article.cached_summary_image %}
	    <div class="col-xs-6 col-sm-5 summary-image-container">
		<a href="{{article.get_absolute_url}}">
		    <img class="summary-image"
			 src="{{ article.cached_summary_image }}"
			 alt="{{ article.summary_image_alt }}"/>
		</a>
	    </div>
	{% endif %}


	<div class="
		    {% if include_image == "1" and article.cached_summary_image %}
		    col-xs-6
		    col-sm-7
		    {% else %}
		    col-xs-12
		    {% endif %}">
	    <h2 class="summary-title">
		<a href="{{article.get_absolute_url}}">
		    {{article.title|safe }}
		</a>
	    </h2>
	    {% if include_summary == "1" %}
		<p class="summary-text">
		    {{article.cached_summary_text|safe}}
		</p>
	    {% endif %}
	    <p class="summary-byline">
		{{article.cached_byline|safe}}
	    </p>
	    <p class="summary-dateline">
		{{article.published|date:"j F Y"}}&nbsp;&nbsp;&nbsp;<a href="{% url 'category.detail' article.category %}">{{article.category|upper}}</a>
	    </p>
	</div>
    </div>
</div>
