{% extends "base.html" %}

{% block content %}
    {% block article-list %}
	<div id="list-content" class="container">
	    <div class="row">
		<div class="xs-12">
		    {% if heading %}
			<h1 id="summary-list-heading">
			    {{heading|safe}}
			</h1>
		    {% endif %}
		    {% if image %}
			<div>
			    <img src="{{MEDIA_URL}}{{image}}" />
			</div>
		    {% endif %}
		    {% if description %}
			<p>{{description}}</p>
		    {% endif %}
		</div>
	    </div>
	    {% include 'newsroom/list.html' with articles=article_list include_image="1" include_summary="1" md_size="6" %}
	</div>
    {% endblock %}
    {% block pagination %}
	{% include 'paginator.html' %}
    {% endblock %}

{% endblock %}
