.article-container {
    display: flex;
    justify-content: center;
}

.article-content {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.article {

}

.article__title {
    font-family: 'Roboto Slab', serif;
    font-size: 3.4rem;
    line-height: 41px;    
}

.article__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 34px;
    font-weight: 600;
}

.article__container {
    display: flex;
}

.article__content {
    background-color: #fff;
    flex: 3;
    padding: 30px;
    margin-right: 30px;
}

.article__sidebar {
    background-color: #fff;
    flex: 1;
    padding: 30px;
    align-self: flex-start;
}

.article__details {
    border-top: 2px solid #D6D6DA;
    border-bottom: 2px solid #D6D6DA;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}

.article__details__date-by {
    flex: 1;
}

.article__details__share {
    align-items: center;
    display: flex;
}

.article__details__share__text {
    font-weight: 600;
    margin-right: 15px;
    color: #999;
}

.article__image__box {
    display: flex;
    flex-direction: column;
}

.article__image {
    width: 100%;
}

.article__image__caption {
    font-family: 'Open Sans', sans-serif;
    background-color: #D6D6DA;
    color: #4b5253;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    padding: 30px;
}

@media (max-width: 786px) {
    .article-content {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .article__container {
        flex-direction: column;
    }    

    .article__content {
        margin-right: 0px;
    }

    .article__title {
        font-family: 'Roboto Slab', serif;
        font-size: 2.8rem;
        line-height: 34px;    
    }

    .article__subtitle {
        font-size: 1.5rem;
        line-height: 28px;
    }    
    
    .article__details {
        flex-direction: column;
    }

    .article__details__date-by {
        width: 100%;
        margin-bottom: 5px;
    }

    .article__details__share {
        width: 100%;
    }
}
