<div id="letters">
    {% if article_letters %}
	<a name="letters-to-editor"></a>
	<h2>Letters</h2>
	<div class="panel-group" id="letter-accordion">
	    {% for letter in article_letters %}
		<a name="letter-{{letter.pk}}"></a>
		<div class="panel panel-default">
		    <div class="panel-heading">
			<h4 class="panel-title">
			    <a data-toggle="collapse"
			       data-parent="#letter-accordion"
			       href="#letter-{{forloop.counter}}"
			       class="{{letter.css_classes}}">
				<i class="fa fa-plus" aria-hidden="true"></i>
				{{letter.title}}
			    </a>
			</h4>
		    </div>
		    <div id="letter-{{forloop.counter}}"
			 class="panel-collapse collapse in">
			<div class="panel-body">
			    <div class="letter">
          {% if letter.byline == "GroundUp Editor" %}
          <p class="letter-salutation">GroundUp Editor's Response</p>
          {% else %}
				  <p class="letter-salutation">Dear Editor</p>
          {% endif %}
				<div class="letter-text">
				    {{letter.text|urlize|linebreaks}}
				</div>
				<p class="letter-byline">
				    Sincerely<br />
				    {{letter.byline}}<br />
                                    {{letter.published|date:"j M Y"}}
                                </p>
			    </div>
			</div>
		    </div>
		</div>
	    {% endfor %}
	</div>
    {% endif %}

    {% if article.letters_on %}
	<div id="write-letter">
	    <a href="{% url "letter_to_editor" article.pk %}">
		Write a letter in response to this article
	    </a>
	</div>
    {% endif %}
</div>
