<div class="article__container">
  <div class="article__content">
    <a class="article__category" href="{%  url 'category.detail' article.category.name %}">{{article.category|upper}}</a>
    <h1 class="article__title" id="article_title" {% if can_edit %} contenteditable="true" {% endif %} >
      {{ article.title|safe}}
    </h1>
    <div class="article__details">
      <div class="article__details__date-by">
        Published {{ article.published|date:"j F Y"}} {{ article.cached_byline|safe }}
      </div>
      <div class="article__details__share">
        <span class="article__details__share__text">SHARE</span>
        {% include "newsroom/sharebuttons.html" %}
      </div>
    </div>
    <h2 class="article__subtitle" {% if can_edit %} contenteditable="true" {% endif %}>
	{{ article.subtitle|safe }}
    </h2>
    {{ article_body|safe }}
  </div>
  <div class="article__sidebar">
    {% include 'newsroom/sidebar.html' %}
  </div>
</div>
<div class="article__extra-content">
  <div class="extra-content__related-stories"></div>
  <div class="extra-content__same-category"></div>
</div>
