{% extends "base.html" %}

{% load staticfiles %}
{% load fb_versions %}
{% load compress %}

{% block title %}
    {{article.title|striptags|safe}}{{block.super}}
{% endblock %}

{% block seo_fields %}
    {% comment %}Twitter Card{% endcomment %}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@GroundUp_News" />
    <meta name="twitter:title" content="{{article.title}}" />
    <meta name="twitter:description" content="{{article.cached_summary_text_no_html}}" />

    {% comment %}Facebook{% endcomment %}
    <meta name="description" content="{{article.cached_summary_text_no_html|truncatechars:190}}">
    <meta property="og:title" content="{{article.title}}"/>
    <meta property="og:type" content="article"/>

    {% comment %}Twitter and Facebook images{% endcomment %}
    {% with image_url=article.cached_primary_image %}
	{% if image_url %}
	    <meta property="og:image" content="{% if image_url.0 == '/' %}http://{{request.META.HTTP_HOST}}{% endif %}{{article.cached_primary_image|iriencode}}"/>
	    <meta name="twitter:image" content="{% if image_url.0 == '/' %}http://{{request.META.HTTP_HOST}}{% endif %}{{article.cached_primary_image|iriencode}}"/>
	    <meta name="twitter:image:alt" content="{{article.primary_image_alt}}" />
	{% endif %}
    {% endwith %}

    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:description"
	  content="{{ article.cached_summary_text_no_html }}"/>

{% endblock %}


{% block additional_head %}
    {{block.super}}
    {% if article.activate_slideshow %}
	<link rel="stylesheet"
	      href="{% static 'newsroom/css/pgwslider.min.css' %}">
	</link>
    {% endif %}
    {% if can_edit %}
	<script src="//cdn.ckeditor.com/4.7.3/standard-all/ckeditor.js"></script>
	<script src="{% static 'newsroom/js/ck_styles.js' %}"></script>
	<script src="{% static 'newsroom/js/ck_init.js' %}"></script>
    {% endif %}
    {{article.additional_head_scripts|safe}}

{% endblock %}


{% block admin-area-additional %}
    {% if request.user.is_staff %}
	<div id="editing-article">
	</div>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="container">
	<div id="article-content">
	    <article id="article-category-{{article.category|lower}}">
		{% block article %}
		    {% include "newsroom/article_block.html" %}
		{% endblock %}
	    </article>

	    <div class="row">
		{% if article.copyright %}
		    <div class="col-xs-12 col-md-8
                                {% if article.undistracted_layout %}
                                col-md-offset-1
                                {% endif %}">
			<div id="article-copyright">
			    {{article.copyright|safe}}
			</div>
		    </div>
		{% endif %}
	    </div>


	    <div class="row">
		<div class="col-xs-12 col-md-8">
		    {% if article.comments_on %}
			{% include 'newsroom/article_comments.html' %}
		    {% endif %}
		</div>
	    </div>
	</div>
    </div>
{% endblock %}

{% block javascript-includes %}

    {{block.super}}

    {{article.additional_body_scripts|safe}}

    {% compress js %}
    <script>
     {% include "newsroom/article_detail.js" %}
    </script>
    {% if article.activate_slideshow %}
	<script src={% static 'newsroom/js/pgwslider.min.js' %}></script>
	<script>{% include 'newsroom/article_slider.js' %}</script>
    {% endif %}
    {% endcompress %}
{% endblock %}
