.article-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.article-content {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.article__title {
    font-family: 'Roboto Slab', serif;
    font-size: 3.4rem;
    line-height: 41px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000;
}

.article__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    line-height: 28px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.article__container {
    display: flex;
}

.article__content {
    background-color: #fff;
    flex: 3;
    padding: 30px;
    margin-right: 30px;
}

.article__sidebar {
    background-color: #fff;
    flex: 1;
    padding: 30px;
    align-self: flex-start;
}

.article__details {
    border-top: 2px solid #D6D6DA;
    border-bottom: 2px solid #D6D6DA;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}

.article__details__date-by {
    flex-basis: 70%;
}

.article__details__share {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
}

.article__details__share__text {
    font-weight: 600;
    margin-right: 15px;
    color: #999;
}

.article__image__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.article__image {
    width: 100%;
}

.article__image__caption {
    font-family: 'Open Sans', sans-serif;
    background-color: #D6D6DA;
    color: #4b5253;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    padding: 30px;
}

.article img {
    max-width: 100%;
}

.article blockquote {
    font-family: 'Roboto slab', sans-serif;
    border-left: 5px solid #00b1F0;
    padding: 0 0 0 12px;
    margin: 6px 0 6px 0;
    padding-left: 20px;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pquote {
    font-family: 'Roboto slab', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 150%;
    font-size: 2.4rem;
    display: flex;
}

.pquote:before {
    content: "\201D";
    font-size: 90px;
    padding-top: 30px;
    padding-right: 20px;
    font-family: sans-serif;
    color: #00b1F0;
    font-weight: 600;
}

.article p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.subheading {
    font-family: 'Roboto slab', sans-serif;
    margin-top: 50px;
    margin-bottom: 30px;
}

.article__copyright {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.article__copyright p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 160%;
    font-style: italic;
    font-weight: 600;
}

.article-container .social-media__icon {
    flex: none;
    width: 25%;
}

.article-social {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.article-social-container {
    width: 70%;
}

#comments {
    margin-top: 15px;
}

.article__comment__link:hover {
    text-decoration: none;
}

.article__comment__button {
    background-color: #00B1F0;
    border-radius: 0px;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article__comment__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.article__comment__title:hover {
    color: #151F22;
}

.panel-group .panel {
    border-radius: 0px;
}

.article__letter__button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    background-color: #00B1F0;
    color: white;
    text-align: center;
    padding: 15px;
}

.article__letter__link {
    text-transform: uppercase;
    color: white;
}

.article__topics {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #4d4d4d;
    padding: 15px;
    background-color: #F0F0F2;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.6rem;
    flex-wrap: wrap;
}

.article__topics__header {

}

.article__topic {
    color: #4d4d4d;
    border: 1px solid #4D4D4D;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 5px;
}

.article__topic:hover {
    text-decoration: none;
    color: #00B1F0;
    border-color: #00B1F0;
}

@media (max-width: 786px) {
    .article-content {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .article__container {
        flex-direction: column;
    }    

    .article__content {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .article__title {
        font-family: 'Roboto Slab', serif;
        font-size: 2.8rem;
        line-height: 34px;    
    }

    .article__subtitle {
        font-size: 1.5rem;
        line-height: 28px;
    }    
    
    .article__details {
        flex-direction: column;
    }

    .article__details__date-by {
        width: 100%;
        margin-bottom: 5px;
    }

    .article__details__share {
        width: 100%;
        justify-content: end;
    }

    .article__details__share > * {
        padding: 0px 5px;
    }

    .article__details__share__text {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .article blockquote {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .pquote {
        font-size: 2rem;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .pquote:before {    
        font-size: 70px;
        padding-top: 23px;
        padding-right: 15px;
    }

    .subheading {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .article-container .social-media__icon {
        flex: none;
        width: 50%;
    }
}
