<div class="article__topics">
    <span class="article__topics__header">TOPICS:&nbsp;</span>
    {% with topics_all=article.topics.all %}
        {% if topics_all|length  %}
            {% for topic in topics_all %}
	        <a class="article__topic"
                   href="{% url 'newsroom:topic.detail' topic.slug %}">
                    {{ topic.name|capfirst }}</a>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if can_edit %}
        <div id="view_topics_text" class="edit-only">
            Topics:
        </div>
        <div id="view_main_topic_text" class="edit-only">
            Main topic:
        </div>
    {% endif %}
</div>
