
<div class="{% if article.undistracted_layout %}col-xs-12  col-md-push-1 col-md-10"{% else %}col-xs-12 col-md-8"{% endif %}>
    <h1 id="article_title" class="article__title" {% if can_edit %} contenteditable="true" {% endif %} >
        {{ article.title|safe }}
    </h1>
    {% if article.subtitle %}
        <h2 id="article_subtitle"
            class="article__subtitle"
            {% if can_edit %}
            contenteditable="true"
            {% endif %}>
            {{ article.subtitle|safe }}
        </h2>
    {% else %}
        {% comment %}Subtitle must always be visible for editors
        {% endcomment %}
        {% if can_edit %}
	    <h2 id="article_subtitle"
                class="article__subtitle"
                contenteditable="true">{{ article.subtitle|safe }}</h2>
        {% endif %}
    {% endif %}
    <div class="article__details__date-by">
        {% if article.published %}
            <time datetime='{{ article.published|date:"c" }}'>
                {{ article.published|date:"j F Y"}}
            </time>
        {% else %}
            Unpublished
        {% endif %}
        | {{ article.cached_byline|safe }}
        <span class="article__info">
            <a class="article__category" href="{%  url 'newsroom:category.detail' article.category.slug %}">{{article.category|title}}</a>{% if display_region %} | <a class="article__region" href="{% url 'newsroom:region.detail' article.region.name %}">{{display_region|title}}</a>
    </span>
    {% endif %}
    </div>

    {% if article.cached_primary_image %}
        <figure id="article-primary-image" class="article__image__box">
            <div class="article__image__container">
                {% if article.primary_image %}
	            <a href="{{MEDIA_URL}}{{article.primary_image|iriencode}}" target="_blank">
	                <img src="{{article.cached_primary_image|iriencode}}"
		             alt="{{article.primary_image_alt|addslashes}}"
                             class="webfeedsFeaturedVisual article__image"
                        />
	            </a>
	        {% else %}
	            <img src="{{article.cached_primary_image|iriencode}}"
	                 alt="{{article.primary_image_alt|addslashes}}"
                         class="webfeedsFeaturedVisual article__image"/>
	        {% endif %}
            </div>
            <div class="article__image__caption">
                {% if article.primary_image_caption %}
	            <figcaption id="article_primary_image_caption"
		                {% if can_edit %}
		                contenteditable="true"
		                {% endif %} >
	                {{article.primary_image_caption|safe}}
	            </figcaption>
	        {% else %}
	            {% comment %}Editors must have empty caption to edit
	            {% endcomment %}
	            {% if can_edit %}
	                <figcaption id="article_primary_image_caption"
                                    contenteditable="true">
	                    {{article.primary_image_caption|safe}}
	                </figcaption>
	            {% endif %}
                {% endif %}
            </div>
        </figure>
    {% endif %}

    <div id="article_body"
         {% if can_edit %}
         contenteditable="true"
         {% endif %}>
        {{article_body|safe}}
    </div>
    {% with corrections=article.correction_set.all %}
        {% if corrections %}
            <div id="article__corrections">
                <a id="article-corrections"></a>
                {% for correction in corrections reversed %}
                    <div class="article__correction">
                        <a id="update-{{correction.pk}}"></a>
                        <span class="article__correction__type">
                            {{correction.get_update_type_display}} on
                            {{correction.created|date:"Y-m-d H:i"}}</span>
                        <span class="article__correction_text">
                            {{correction.text|safe}}
                        </span>
                        {% if can_edit %}
                            <a href="{% url 'newsroom:correction.update' correction.pk %}">Edit</a> |
                            <a href="{% url 'newsroom:correction.delete' correction.pk %}">Delete</a>
                        {% endif %}
                    </div>
                {% endfor  %}
            </div>
        {% endif %}
    {% endwith %}
    {% if can_edit %}
        <p>
            <a href="{% url 'newsroom:correction.create' %}?article_pk={{article.pk}}">Add correction or update</a>
        </p>
        <p id="article__statistics"></p>
    {% endif %}
    {% if article.main_topic %}
        {% include "newsroom/read_similar.html" %}
    {% endif %}
    <div id="support_gu">
        <p>
            Fikile Mbalula is <a href="https://www.groundup.org.za/article/fikile-mbalula-demands-r2-million-our-reporters/">going after us for R2 million</a>. We must be doing something right. Support news that matters. Please <a href="/donate/">donate</a> to GroundUp.
        </p>
        <p style="text-align: center;">
<a href="https://pos.snapscan.io/qr/STB24E42"><img alt="Snapscan" src="https://www.snapscan.co.za/assets/images/svg/logo-snapscan-c701680e76dba9d96275174e2c034052b0d09e90bbf384e908804565d4369820.svg" style="width:120px;" /></a><br />
			<span class="mobile-only"><a href="https://pos.snapscan.io/qr/STB24E42">Donate using SnapScan</a>. </span><br />
			<a href="https://pos.snapscan.io/qr/STB24E42"><img alt="Snapscan QR code" class="barcode" src="/sites/default/files/groundup-snapscan.png" style="width:200px !important; height:200px !important max-width:95% !important;" /></a>

        </p>
    </div>
    <div class="article__details__share">
        {% include "newsroom/sharebuttons.html" %}
    </div>
    {% include 'newsroom/article_topics.html' %}
    {% include 'newsroom/article_next_article.html' %}
    {% include 'newsroom/article_letters.html' %}
    <div class="article__copyright" id="article-copyright">
        {{article.copyright|safe}}
    </div>

</div>

<div class="col-xs-12 col-md-4 article__sidebar {% if article.undistracted_layout %}col-md-push-1 article__sidebar--undistracted {% endif %}">
    {% include 'blocks/blocks.html' %}
</div>


<div class="col-xs-12 col-md-8 article__extra-content {% if article.undistracted_layout %} article__extra-content--undistracted {% endif %}">
    <div class="extra-content__related-stories">
        {% include "newsroom/read_next.html" %}
    </div>
</div>

{% if can_edit %}
    <div style="display:none;">
        <form action="{% url 'newsroom:article.detail' article.slug %}"
              id="article_form"
	      method="post">{% csrf_token %}
            {{form.as_p}}
            <input id="input-is-published"
	           value="{{article.is_published}}"
	           name="is_published">
            <input id="input-top-story"
	           value="NO"
	           name="input_top_story">
            <input id="input-unsticky"
	           value="NO"
	           name="input_unsticky">
            <input id="saveedits" type="submit"
	           value="Save">
        </form>
    </div>
{% endif %}
