.article-content {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.article__title, #recopy__title {
    font-family: Inter,  san-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -1px;
    margin-top: 15px;
    margin-bottom: 12px;
}

.article__subtitle, #recopy__subtitle {
    font-family: Inter,  san-serif;
    font-size: 20px;
    line-height: 28px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.article__info {
    margin-top: 12px;
    display:block;
}

ul:nth-child(3) > li {
    font-weight: bold;
}

.article__content {
    background-color: #fff;
    padding: 15px;
    margin-right: 30px;
}

.article__content--undistracted {
    margin-right: 0px;
}

.article__sidebar--undistracted {

}


.article__sidebar .sidebar-block {
    /*margin-bottom: 30px;*/
    background-color: #fff;
}


.article__details--desktop-share {
    justify-content: center;
    margin-bottom: 15px;
}

.article__details--desktop a {
    line-height: 0px;
}

.article__details__date-by {
    padding-top: 4px;
    margin-bottom: 4px;
    font-size: 1.5rem;
    line-height: 16px;
}

.article__details__share {
    text-align: center;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ebebe0;
}

.article__details__share__text {
    font-weight: 600;
    margin-right: 15px;
    color: #999;
    padding-top: 6px;
}

.article__image__box {
    margin-bottom: 20px;
}

.article__image {
    width: 100%;
}

.article__image__caption {
    font-family: Inter,  san-serif;
    background-color: #EFEFEF;
    color: #4b5253;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    padding: 15px;
}

#article_body .caption {
    font-family: 'Inter', san-serif;
    background-color: #EFEFEF;
    color: black;
    font-size: 14px;
    /* line-height: 22px;*/
    padding: 15px;
    margin-top: 0;
    /* margin-top: -9px;*/
}

.article__content img {
    max-width: 100%;
}

.editor-summary {
    margin-top: 14px;
}

.editor-summary ~ .editor-summary {
    color: inherit;
    margin-top: 0;
}

.editor-summary {
    font-family: Inter,  san-serif;
    background-color: #D6D6DA;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.7rem;
    padding-top: 12px;
    padding-bottom: 12px;
}



.article blockquote {
    font-family: Inter,  san-serif;
    border-left: 5px solid #00b1F0;
    padding: 0 0 0 12px;
    margin: 6px 0 6px 0;
    padding-left: 20px;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pquote {
    font-family: Inter,  san-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 150%;
    font-size: 2.4rem;
    font-weight: 600;
}

.pquote:before {
    content: "\201D";
    font-size: 90px;
    padding-top: 30px;
    padding-right: 20px;
    font-family: sans-serif;
    color: #0250bb;
    font-weight: 600;
}

.article p, .article ul li, .article ol li {
    font-family: Inter,  san-serif;
    font-size: 1.9rem;
    margin-top: 14px;
    margin-bottom: 0;
}

.subheading, #article_body h2 {
    font-family: Inter,  san-serif;
    margin-top: 30px;
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 2.4rem;
}

#article__correction {
    margin-top: 12px;
    margin-bottom: 12px;
}

.article__correction__type {
    text-transform: uppercase;
}

.article__correction__type:after {
    content: ": ";
}

.article__correction {
    font-style: italic;
    font-size: 1.3em;
    margin-bottom: 12px;
}

.article__copyright {
    padding: 16px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

#article_copyright p {
    font-family:  'Inter', san-serif;
    font-size: 14px;
}

.article__copyright p img {
    max-width: 100px;
}
.article-container .social-media__icon {
    width: 25%;
}

.article-social {
    width: 100%;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.article-social-container {
    width: 70%;
}

#comments {
    margin-top: 15px;
}

.article__comment__link:hover {
    text-decoration: none;
}

.article__comment__button {
    background-color: #00B1F0;
    border-radius: 0px;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article__comment__title {
    font-family: Inter,  san-serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.article__comment__title:hover {
    color: #151F22;
}



.panel-group .panel {
    border-radius: 0px;
}

.article__letter__button {
    font-family: 'Inter', san-serif;
    font-weight: 600;
    font-size: 2rem;
    background-color: #00B1F0;
    color: white;
    text-align: center;
    padding: 15px;
}

.article__letter__link {
    text-transform: uppercase;
    color: white;
}


.article__topics, .article__next {
    font-family: Inter,  san-serif;
    font-weight: 600;
    color: #4d4d4d;
    padding: 12px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ebebe0;
}


.article__topics__header, .article__topic {
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 5px 5px;
}

.article__topics__header {
    padding: 10px 10px 10px 0;
}

.article__topic {
    padding: 10px;

    color: #4d4d4d;
    border: 1px solid #4D4D4D;
    border-radius: 10px;
    text-transform: capitalize;
}

.article__topic:hover {
    text-decoration: none;
    color: #00B1F0;
    border-color: #00B1F0;
}

.article__next p {
    display: block;
}

.article__extra-content--undistracted {
    display: none;
}

.extra-content__related-stories {
    margin: 16px;
    background-color: #fff;
}

.article .letters-header {
    font-family: Inter,  san-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.article .panel-default>.panel-heading {
    background-color: #00B1F0;
    background-image: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.article .panel-group .panel {
    margin-bottom: 10px;
}

.panel-title > a:nth-child(1) {
    font-family: Inter,  san-serif;
    font-weight: bold;
    margin-left: 0px;
    color: #fff;
}

article figure, article p.caption {
    border-bottom: none;
}

.article-drop-cap:first-letter {
    color: #00B1F0;
    font-size: 62px;
    line-height: .7;
    float: left;
    font-weight: 600;
    padding-right: 6px;
    font-family: Inter,  san-serif;
}


#article_body  {
    padding-bottom: 12px;
    margin-bottom: 14px;
    border-bottom: 1px solid #eee;
}

.article__details--mobile {
    display: none;
}

.article #related {
    border-bottom: 1px solid #ebebe0;
}

.article #related a {
    color: #00B1F0;
}
.article #related h3 {
    font-family: Inter,  san-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.article #related ul a {
    font-size: 1.6rem;
}

.article #related .related-date {
    font-size: 75%;
    color: #333;
}

@media (max-width: 768px) {
    .article-content {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }


    .article__sidebar {
        /* margin-bottom: 30px;*/
    }

    .article__content {
        margin-right: 0px;
        margin-bottom: 30px;
    }

/*    .article__subtitle {
        font-size: 1.5rem;
        line-height: 28px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
*/
    .article__image__box {
        margin-bottom: 15px;
    }

    .article__details--desktop-by {
        display: none;
    }


    .article__details__date-by {
        width: 100%;
        margin-bottom: 5px;
    }

    .article__details__share {
        width: 100%;
    }

    .article__details__share > * {
        padding: 0px 1px;
    }

    .article__details__share__text {
        padding-left: 0px;
        padding-right: 0px;
    }

    .article blockquote {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .pquote {
        font-size: 2rem;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .pquote:before {
        font-size: 70px;
        padding-top: 23px;
        padding-right: 15px;
    }

    .subheading {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .article-container .social-media__icon {
        width: 50%;
    }

    .article__sidebar--undistracted {
        margin-top: 0px;
    }


    .article__extra-content {
        display: none;
    }

    .article #related ul {
        padding-left: 25px;
    }

    .article p, .article ul li, .article ol li {
        font-family: Inter,  san-serif;
        font-size: 1.7rem;
    }
}

.recommended__article__title {
    font-size: 2rem;
}


@media (min-width: 769px) and (max-width: 1440px) {
    .article-content {
        width: 90%;
    }

    .article__details__share a {
        padding: 1px;
    }
}

@media (min-width: 769px) {
    .article__content{
        width: 70%;
    }


    .article__content--undistracted {
        width: 75%;
    }

    .article__sidebar--undistracted {
        width: 75%;
        align-self: center;
    }
}
#article__corrections {
    border-bottom: 1px solid #ebebe0;
}

.embed-responsive-16by9 {
    margin-top: 12px;

}

.bigger-image {
    position: relative;
    display: inline-block;
}

.bigger-image:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    background: rgba(0,0,0,0.5);
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.2s;
}

.bigger-image:before {
    content: '';
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='-3 -3 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ffffff' d='M23 8.75V1.5l-.5-.5h-7.25v1.25l4.5.6L14 8.575 15.4 10l5.75-5.725.6 4.475zm-22 6.5v7.25l.475.5h7.25v-1.25l-4.475-.6 5.725-5.775L8.6 14l-5.775 5.725-.575-4.475z'/%3E%3C/svg%3E");
    background-size: contain;
    z-index: 1; 
    opacity: 0;
    transition: opacity 0.2s;
}

.bigger-image:hover:after,
.bigger-image:hover:before {
    opacity: 1;
}

{% if article.undistracted_layout %}
@media (min-width: 769px) {
    .article p, .article blockquote {
        margin-left: 100px;
        margin-right: 100px;
        font-size: 2.2rem;
    }

    .article blockquote p {
        margin-left: 0;
    }

    .article ul {
        margin-left: 50px;
    }
    .article ul li {
        margin-left: 30px;
        margin-right: 91px;
        font-size: 2.2rem;
    }

    .article p.intro {
        font-size: 2.4rem !important;
    }
    h2.subheading, #article_body h2 {
        margin-left: 100px;
        margin-right: 100px;
        font-size: 2.7rem !important;
    }

    #article_body .editor-summary h2, h2.editor-summary  {
        margin-top: 0;
        margin-bottom: 0 !important;
    }

    div.editor-summary {
        margin-top: 12px !important;
    }
    div.editor-summary, p.editor-summary, h2.editor-summary, ul.editor-summary,
    li.editor-summary {
        margin-left: -1px !important;
        margin-right: -1px !important;
    }

    h2.editor-summary {
        padding-top: 12px !important;
        margin-top: 16px !important;
    }

    div.editor-summary {
        padding-top: 16px;
        margin-top: 16px;
    }

    .article p img {
        margin-left: -100px;
        margin-right: -100px;
        width: 127%;
    }
    .article p.caption {
        margin-left: -1px;
        margin-right: -1px;
    }
    .article__title {
        font-size: 4.7rem;
        line-height: 5.3rem;
        margin-bottom: 18px;
    }
    .article__subtitle {
        font-size: 2.7rem;
        line-height: 3.3rem;
    }

    .bigger-image {
        display: block;
        width: 100%;
    }
    .bigger-image img {
        width: 100%;
        height: auto;
    }

}

{% endif %}
