{% extends "base.html" %}

{% load staticfiles %}
{% load fb_versions %}

{% block title %}
  {{article.title|striptags|safe}}{{block.super}}
{% endblock %}

{% block meta_description_block %}
  {% with article.cached_summary_text_no_html as desc %}
    {{block.super}}
  {% endwith %}
{% endblock %}


{% block seo_fields %}
  {{block.super}}
  {% comment %}Twitter Card{% endcomment %}

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@GroundUp_News" />
  <meta name="twitter:title" content="{{article.title}}" />
  <meta name="twitter:description" content="{{article.cached_summary_text_no_html}}" />

  {% comment %}Facebook{% endcomment %}

  <meta property="og:title" content="{{article.title}}"/>
  <meta property="og:type" content="article"/>

  {% comment %}Twitter and Facebook images{% endcomment %}
  {% with image_url=article.cached_primary_image %}
    {% if image_url %}
      <meta property="og:image" itemprop="image"
            content="{% if image_url.0 == '/' %}https://{{request.META.HTTP_HOST}}{% endif %}{{article.cached_primary_image|iriencode}}"/>
      <meta name="twitter:image" content="{% if image_url.0 == '/' %}https://{{request.META.HTTP_HOST}}{% endif %}{{article.cached_primary_image|iriencode}}"/>
      <meta name="twitter:image:alt" content="{{article.primary_image_alt}}" />
    {% endif %}
  {% endwith %}

  <meta property="article:published_time" content="{{article.published|date:'c'}}"/>
  <meta property="article:modified_time" content="{{article.modified|date:'c'}}"/>
  <meta name="author" content="{{ article.cached_byline_no_links }}">

{% endblock %}


{% block additional_head %}
  {{block.super}}
  {% if article.activate_slideshow %}
    <link rel="stylesheet"
	  href="{% static 'newsroom/css/pgwslider.min.css' %}">
	</link>
  {% endif %}
  {% if can_edit %}
    {% comment %}
    <script src="//cdn.ckeditor.com/4.9.2/full/ckeditor.js"></script>
    {% endcomment %}
    <script src="{% static 'newsroom/js/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'newsroom/js/ck_styles.js' %}"></script>
    <script src="{% static 'newsroom/js/ck_init.js' %}"></script>
  {% endif %}
  {{article.additional_head_scripts|safe}}

{% endblock %}


{% block admin-area-additional %}
  {% if request.user.is_staff %}
    <div id="editing-article">
    </div>
  {% endif %}
{% endblock %}


{% block content %}
  <div class="article-container">
    <div id="article-content" class="article-content">
      <article id="article-category-{{article.category|lower}}" class="article">
	{% block article %}
	  {% include "newsroom/article_block.html" %}
	{% endblock %}
      </article>
    </div>
    <div class="article-social">
      <div class="article-social-container">
        {% include 'newsroom/social_media.html' %}
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript-includes %}

  {{block.super}}

  {{article.additional_body_scripts|safe}}

  <script>
   {% include "newsroom/article_detail.js" %}
  </script>
  {% if article.activate_slideshow %}
    <script src={% static 'newsroom/js/pgwslider.min.js' %}></script>
    <script>{% include 'newsroom/article_slider.js' %}</script>
  {% endif %}
{% endblock %}
