{% extends "base.html" %}

{% block title %}
    Author: {{author}}{{block.super}}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
		<h1 style="text-align: center;">
		    Articles for {{author}} XXX
		</h1>
            </div>
        </div>
        {% include "newsroom/article_list_snippet.html" %}
    </div>
{% endblock %}

{% block javascript-includes %}
    {{block.super}}

    {% if request.user.is_staff %}
        <script>
         (function() {
             if (window.opener) {
                 window.opener.receiveAuthor({
                     'name': '{{author}}',
                     'pk' : '{{author.pk}}'
                 });
                 window.close();
             }
         })();
        </script>
    {% endif %}
{% endblock %}
