{% extends "base.html" %}

{% block title %}
    Corrections and updates {{block.super}}
{% endblock %}


{% block content %}

    <div class="container">
	<div class="row">
	    <div class="col-xs-12 col-sm-9 col-sm-push-3">
                <div class="article">

		    <h1>Updates and corrections</h1>
                    <p>This is a list of updates, improvements and corrections to
		        articles, as well as retractions and apologies.
                    </p>
                    <ol>
		        {% for correction in object_list %}
			    <li value="{{correction.pk}}">
                                <div class="correction_type">
                                    {{correction.created|date:"Y-m-d H:i"}} -
                                    <b>{{correction.get_update_type_display}}</b>
			            for <a href="{% url 'newsroom:article.detail' correction.article.slug %}#article-corrections">{{correction.article.title}}
                                    </a>
                                </div>
                                <div class="correction_text">
                                    {% if correction.use_html %}
                                        {{ correction.text|safe }}
                                    {% else %}
                                        {{ correction.text|linebreaks|safe }}
                                    {% endif %}
                                </div>
			    </li>
		        {% endfor %}
		    </ol>
	        </div>
	    </div>
        </div>
    </div>
{% endblock %}
