{% if article.pk and perms.newsroom.change_article %}
    <div id="edit-menu">
        <button id="admin-toggle">X</button>

        <ul>
            <li>
                <button class="btn btn-warning btn-sm" id="edit-menu-save"
                        style="display:none;"
                        onclick="document.getElementById('saveedits').click()">
                    Save
                </button>
            </li>
            <li>
                <button class="btn btn-primary btn-sm" id="edit-toggle" onclick="toggleEditables(this)">
                    Edit
                </button>
            </li>
            <li>
                <a
                    class="btn btn-primary btn-sm"
                    href="{% url 'admin:newsroom_article_change' article.pk %}">
                    Edit in admin
                </a>
            </li>
            {% if not article.is_published %}
                <li>
                    <button id="publish-now"
                            class="btn btn-primary btn-sm btn-warning">
                        Publish
                    </button>
                </li>
            {% endif %}

            {% if article.stickiness > 0 %}
                <li >
                    <button id="make-unsticky"
                            class="btn btn-primary btn-sm btn-warning">
                        Unsticky
                    </button>
                </li>
            {% else %}
                <li id="make-top-story">
                    <button class="btn btn-primary btn-sm btn-warning">
                        Make top story
                    </button>
                </li>
            {% endif %}

            {% if article.undistracted_layout  %}
                <li >
                    <button id="make-halfwidth"
                            class="btn btn-primary btn-sm btn-warning">
                        Normal width
                    </button>
                </li>
            {% else %}
                <li id="make-fullwidth">
                    <button class="btn btn-primary btn-sm btn-warning">
                        Full width
                    </button>
                </li>
            {% endif %}


            {% if not article.is_published %}
                {% if article.secret_link %}
                    <li >
                        <a id="view-secret-link"
                           href="{% url 'newsroom:article.gen_preview' article.pk %}"
                           class="btn btn-primary btn-sm"
                           title="{{article.secret_link}}"
                           target="_blank">
                            View private link
                        </a>
                    </li>
                {% else %}
                    <li >
                        <button id="make-secret-link"
                                class="btn btn-primary btn-sm btn-warning">
                            Make private link
                        </button>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
{% endif %}
