header {
    background-color: #151F22;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 12px 4px 10px 4px;
    position: sticky;
    top: -52px;
    z-index: 1000;
    width: 100%;
}



#logo, #search-box {
    margin-left: 14px;
}
#logo img {
    height: 40px;
}

#main-menu {
    color: white;
    text-transform: uppercase;
}

nav#main-menu > ul > li > a {
    color: white;
}
.dropdown-menu {
    margin-top: 0;
}

#main-menu > ul > li.open > a {
    background-color: gray !important;
}

#main-menu a:hover, #main-menu a:focus, .nav .open > a:hover,
#toggle-search:hover {
    background-color: gray !important;
}

#toggle-search {
    color: white;
    background-color: #151F22;
    border: none;
    padding-top: 11px;
}

.search-box-closed {
    display: none !important;
}

    #search-box input, #search-button {
        background: white;
        color: black;
        padding-bottom: 2px;
        padding-top: 2px;
        border-radius: 4px;
        padding-left: 3px;
    }


@media only screen and (max-width: 450px) {
    .invisible-small {
        display: none !important;
    }
}

@media only screen and (min-width: 650px) {
    header {
        top: 0;
        text-align: center;
    }
    #logo img {
        vertical-align: sub;
    }
    #main-menu {
        padding-top: 12px;
        display: inline-block;
    }

    #toggle-search {
        display: none;
    }


    .search-box-closed {
        display: inline !important;
        margin-top: 6px;
    }

}

@media only screen and (max-width: 349px) {
    #main-menu {
        font-size: 80%;
    }
}

@media only screen and (min-width: 1000px) {
    header {
        padding: 10px 4px 14px 4px;
    }
    #main-menu {
        font-size: 120%;
    }
}

.glyphicon-chevron-down:before {
    content: "\e114";
    position: relative;
    font-size: 0.95em;
    top: 1px;
    margin-left: 8px;
}

@media only screen and (min-width: 650px) {
#logo img {
/* vertical-align: super; */
    height: 40px;
    margin-right: 15px;
    margin-top: -34px;
}
}

#search-box input, #search-button {
    background: white;
    color: black;
    padding-bottom: 2px;
    padding-top: 1px;
    padding-left: 6px;
    border-style: inset;
    margin-left: -6px;
    border: 1px solid black
}

#search-box input {
 border-radius: 4px 0 0 4px;
}

#search-button {
    border-radius: 0 4px 4px 0;
    margin-left: -2px;
}

.fa-search:before {
    content: "\f002";
    font-size: 0.95em;
}


