.home__article__summary {
    margin-top: 12px;
    padding-bottom: 6px;
    border-bottom: 2px solid   #e6e6e6;
}

.chart-featured .home__article__summary {
    border-bottom: none !important;
}

.chart-grid .home__article__summary {
    border-bottom: none !important;
}

/****************/
.home {
/*    background-color: #F0F0F2;*/
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: 0 auto;
}

.home > .sidebar-block {
    width: 100%;
    margin-top: 20px;
}

.home > .sidebar-block img {
    width: 100%;
}

.home_container {
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
}

.home__article-list {
    width: 100%;
    padding: 0px 20px 20px 20px;
}

.home__sticky > div > h2 {
    font-size: 3.2em;
    line-height: 48px;
}

.home__articles__article__text__summary {
    font-family: Inter,  san-serif;
    font-size: 18px;
    line-height: 27px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.home__articles_article__details  {
    font-size: 16px;
    margin-bottom: 12px;
}

.home__articles_article__details a {
    color: #0250bb;
}

/*
.home__top-article_text__details-mobile {
    display: none;
}
*/

.home__top-article {
    margin-top: 20px;
    margin-bottom: 20px;
}

.home__article__block {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 2px solid #D6D6DA;
}


.home__articles__article {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #D6D6DA;
}

.home__articles__article__text {
    justify-content: center;
}


.home__articles__article__text__category {
    font-family: Inter,  san-serif;
    font-size: 18px;
    line-height: 27px;
    color: #0250bb;
    font-weight: 600;
}

.home__articles__article__text__date {
    font-family: Inter,  san-serif;
    font-size: 14px;
    line-height: 16px;
    color: #666;
}

.home__articles__article__text__title {
    font-family: Inter,  san-serif;
    font-weight: bold !important;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 5px;
}

@media (min-width: 769px) {
    .home__articles__article__text__title {
        font-family: Inter,  san-serif;
        font-weight: bold !important;
        font-size: 3rem;
        line-height: 3.5rem;
        margin-top: 5px;
    }
}


.home__articles__article__text__title a {
    color: black;
}

.home__articles__article__text__title a:hover {
    text-decoration: underline;
}

.home__articles__article__text__summary {
    font-family: Inter,  san-serif;
    font-size: 20px;
    line-height: 27px;
}

.home__articles__article__text__byline {
    font-family: Inter,  san-serif;
    font-size: 14px;
    line-height: 20px;
}

.home__articles__article__text__byline a {
    color: #0250bb;
}

#home__sudoku {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid   #e6e6e6;
}


#sudoku-teaser, #target-teaser {
    padding: 9px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: #F4F4F4;
}

#sudoku-teaser, #target-teaser {
    margin-right: 42px;
}

#sudoku-teaser h2, #target-teaser h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

#sudoku-teaser p, #target-teaser p {
    font-size: 12px;
    margin-bottom: 12px;
}

#target-teaser img {
    max-width: 125px;
}

#sudoku-teaser table {
    border-collapse: collapse;
    table-layout: fixed;
    border: 2px solid #0098df;
    font-size: xx-small;
    width: 125px;
    height: 125px;
}

#sudoku-teaser table td {
    padding: 0;
    margin: 0;
    text-align: center;
    border-right: 1px solid #0097de2b;
    border-bottom: 1px solid #0097de2b;
}

@media (max-width: 768px) {
    #sudoku-teaser, #target-teaser {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 12px;
    }
}

.more_articles {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.more_articles__popular_qanda {
    background-color: #fff;
    padding: 10px;
    margin-right: 30px;
}

.more_articles__popular {
    margin-bottom: 30px;
}

.more_articles__letters {
    background-color: #fff;
    padding: 10px;
}

.home .more_articles__letters {
    padding: 30px;
}

.home .more_articles__letters h2 {
    font-family: Inter,  san-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;
}

.home .more_articles__letters h3 {
    font-family: Inter,  san-serif;
    font-size: 2rem;
}

#latest-letters p {
    font-family: Inter,  san-serif;
    border-bottom: 2px solid #D6D6DA;
    padding-top: 5px;
    padding-bottom: 30px;
}

.home .more_articles__popular_qanda {
    padding: 30px;
}

.home .more_articles__popular_qanda h2 {
    font-family: Inter,  san-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

.random_qanda, .random_letter, #toy {
    /* max-width: 500px;*/
    background-color: #e6e6e6;
    padding: 12px;
}

.random_qanda {
   background-color: white;
}

.random_qanda h2, .random_letter h2, #toy h2 {
    font-weight: bold;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 28px;
}

h2#qanda {
    margin-top: 40px;
}

.home .more_articles__popular_qanda ol, .home .more_articles__popular_qanda ul {
    list-style: none;
    counter-reset: item;
    padding-left: 0px;
}

.home .more_articles__popular_qanda ol li, .home .more_articles__popular_qanda ul li {
    counter-increment: item;
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.home .more_articles__popular_qanda ol li:before {
    content: counter(item);
}

.home .more_articles__popular_qanda ol li:before, .home .more_articles__popular_qanda ul li:before {
    font-weight: bold;
    font-size: 2.2rem;
    font-family: Inter,  san-serif;
    line-height: 1;
    width: 5%;
}

.home .more_articles__popular_qanda ol li a, .home .more_articles__popular_qanda ul li a {
    width: 90%;
    padding-left: 10px;
    font-family: Inter,  san-serif;
    font-weight: 600;
    color: #333;
    font-size: 1.6rem;
}

.home .more_articles__popular_qanda ol li a:hover, .home .more_articles__popular_qanda ul li a:hover {
    text-decoration: none;
    color: #0250bb;
}

/*@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) { */
@media (max-width: 768px) {
    .home {
        width: 100%;
    }

    .home > .sidebar-block {
        margin-top: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .more_articles__popular_qanda {
        padding: 10px;
        margin-right: 0px;
    }

    .more_articles__letters {
        padding: 10px;
        margin-top: 4%;
    }

    .home_container {
        width: 100%;
        margin-top: 0px;
    }

    .home__article-list {
        width: 100%;
    }

    .home__articles__article__text__category {
        font-size: 14px;
        line-height: 16px;
        padding-top: 20px;
    }

    .home__sticky > div > h2 {
        font-size: 2.3em;
        line-height: 35px;
    }


    .home__articles__article__text__box {
        padding-top: 2%;
        padding-bottom: 2%;
    }

/*
    .home__articles__article__text__date, .home__articles__article__text__byline {
        display: none;
    }
*/

    /* .home__articles__article__text__title { */
    /*     font-size: 20px; */
    /*     line-height: 28px; */
    /*     margin-top: 5px; */
    /* } */

    .home__articles__article__text__summary {
        font-size: 16px;
        line-height: 21px;
        padding-bottom: 5%;
    }
}

@media (min-width: 769px) and (max-width: 1440px) {
    .home {
        width: 90%;
    }

    .home__top-article_text__title {
        font-size: 2vw;
        line-height: 3vw;
        padding-top: 1%;
    }
}
