{% extends 'newsroom/article_list.html' %}

{% block title %}
    GroundUp Home {{block.super}}
{% endblock %}


{% block article-list %}
    <div id="list-content">
	{% if page_obj.number == 1 %}
	    <div class="container">
		<div class="row">
		    <div  class="xs-12 col-md-8">
			{% with article=article_list.0 %}
			    {% if article %}
				<div id="first-in-list" class="row">
				    <div class="col-md-12">
					{% include article.summary_template with include_image="1" include_summary="1" md_size="6"%}
				    </div>

				</div>
			    {% endif %}
			{% endwith %}
			{% with article=article_list.1 %}
			    {% if article %}
				<div id="second-in-list" class="row">
				    <div class="col-md-12">
					{% include article.summary_template with include_image="1" include_summary="1" md_size="6" %}
				    </div>
				</div>
			    {% endif %}
			{% endwith %}
			{% include 'newsroom/list.html' with articles=article_list|slice:"2:" include_image="1" include_summary="1" md_size="12" %}
		    </div>
		    <div class="col-md-4">
			{% include 'blocks/blocks.html' %}
			<div class="thumbnail right-sidebar-block"
			     id="most-popular">
			    <h2>Most popular</h2>
			    {{most_popular_html|safe}}
			</div>
		    </div>
		</div>
	    </div>
	{% else %}
	    <div class="container">
		<div class="row">
		    <div  class="col-md-12">
			{% include 'newsroom/list.html' with articles=article_list include_image="1" include_text="0" md_size="6" %}
		    </div>
		</div>
	    </div>
	{% endif %}
    </div>
{% endblock %}
