.home {
    background-color: #F0F0F2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    flex-direction: column;
    margin: 0 auto;
}

.home > .sidebar-block {
    width: 100%;
    margin-top: 20px;
}

.home > .sidebar-block img {
    width: 100%;
}

.home_container {
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.home__article-list {
    width: 100%;
    padding: 0px 20px 20px 20px;
}

.home__top-article {
    display: flex;
    width: 100%;
}

.home__top-article_image {
    flex: 3;
    background-color: #000;
}

.home__top-article_text {
    background-color: #151F22;
    flex: 2;
    display: flex;
    justify-content: center;
}

.home__top-article_text__box {
    flex-basis: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
}

.home__top-article_text__title {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    line-height: 41px;
    padding-top: 5%;
}

.home__top-article_text__title a {
    color: #fff;
}

.home__top-article_text__title a:hover {
    text-decoration: underline;
}

.home__top-article_text__summary {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
    flex-grow: 1;
    padding-top: 5%;
}

.home__top-article_text__summary a {
    color: #fff;
    text-decoration: none;
}

.home__top-article_text__summary a:hover {
}

.home__top-article_text__date {
    color: #fff;
    padding-bottom: 20px;
}

.home__top-article_text__category {
    color: #00b1F0;
    font-weight: 600;
}

.home__top-article_text__byline a {
    color: #fff;
    text-decoration: none;
}

.home__top-article_text__details-mobile {
    display: none;
}

.home__top-article {
    margin-top: 20px;
    margin-bottom: 20px;
}

.home__articles {
    display: flex;
    flex-direction: column;
}

.home__articles__article {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #D6D6DA;
}

.home__articles__article__text {
    justify-content: center;
    display: flex;
}

.home__articles__article__text__box {
    display: flex;
    flex-direction: column;
    flex-basis: 95%;
}

.home__articles__article__text__box a {
    color: #000;
    text-decoration: none;
}

.home__articles_article__details-mobile {
    display: none;
}

.home__articles__article__text__category {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #00b1F0;
    font-weight: 600;
}

.home__articles__article__text__date {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #666;
}

.home__articles__article__text__title {
    font-family: 'Roboto Slab', serif;
    font-size: 2.2rem;
    line-height: 30px;
    margin-top: 5px;
}

.home__articles__article__text__title a:hover {
    text-decoration: underline;
}

.home__articles__article__text__summary {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
}

.home__articles__article__text__byline {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.more_articles {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: flex-start;
}

.more_articles__popular {
    background-color: #fff;
    flex-basis: 65%;
    padding: 10px;
    margin-right: 30px;
}

.more_articles__letters {
    background-color: #fff;
    flex-basis: 35%;
    padding: 10px;
}

.home .more_articles__letters {
    padding: 30px;
}

.home .more_articles__letters h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;
}

.home .more_articles__letters h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
}

#latest-letters p {
    font-family: 'Open Sans', sans-serif;
    border-bottom: 2px solid #D6D6DA;
    padding-top: 5px;
    padding-bottom: 30px;
}

.home .more_articles__popular {
    padding: 30px;
}

.home .more_articles__popular h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;
}

.home .more_articles__popular ol {
    list-style: none;
    counter-reset: item;
    padding-left: 0px;
}

.home .more_articles__popular ol li {
    counter-increment: item;
    display: flex;
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.home .more_articles__popular ol li:before {
    content: counter(item);
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
    line-height: 1;
    width: 5%;
}

.home .more_articles__popular ol li a {
    width: 90%;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #333;
    font-size: 1.6rem;
}

.home .more_articles__popular ol li a:hover {
    text-decoration: none;
    color: #00b1F0;
}


/*@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) { */
@media (max-width: 768px) {
    .home {
        width: 100%;
    }

    .home > .sidebar-block {
        margin-top: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .more_articles {
        flex-direction: column;
    }

    .more_articles__popular {
        flex: 1;
        padding: 10px;
        margin-right: 0px;
    }

    .more_articles__letters {
        flex: 1;
        padding: 10px;
        margin-top: 4%;
    }

    .home__top-article {
        display: flex;
        width: 100%;
        flex-direction: column;
        border-bottom: 2px solid #D6D6DA;
        padding-bottom: 20px;
    }

    .home_container {
        width: 100%;
        margin-top: 0px;
    }

    .home__article-list {
        width: 100%;
    }

    .home__top-article_text__box {
        flex-basis: 100%;
    }

    .home__top-article_text__date {
        color: #fff;
        padding-bottom: 0px;
    }

    .home__articles__article__text__category {
        font-size: 14px;
        line-height: 16px;
        padding-top: 20px;
    }

    .home__top-article_text {
        background-color: #fff;
        flex: 2;
        display: flex;
        justify-content: center;
    }

    .home__top-article_text__title {
        font-size: 20px;
        line-height: 28px;
        padding-top: 0px;
        margin-top: 5px;
    }

    .home__top-article_text__summary {
        font-size: 16px;
        line-height: 21px;
        padding-top: 2%;
        padding-bottom: 7%;
    }

    .home__top-article_text__title a {
        color: #000;
    }

    .home__top-article_text__summary a {
        color: #000;
    }

    .home__top-article_text__date {
        display: none;
    }

    .home__top-article_text__byline {
        display: none;
    }

    .home__top-article_text__details-mobile {
        display: block;
        font-size: 12px;
        line-height: 16px;
    }

    .home__top-article_text__details-mobile a {
        color: #000;
        text-decoration: none;
    }

    .home__articles__article {
        display: flex;
        flex-direction: column;
    }

    .home__articles__article__text__box {
        flex-basis: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .home__articles__article__text__date, .home__articles__article__text__byline {
        display: none;
    }

    .home__articles_article__details-mobile {
        display: block;
        font-size: 12px;
        line-height: 16px;
    }

    .home__articles__article__text__title {
        font-size: 20px;
        line-height: 28px;
        margin-top: 5px;
    }

    .home__articles__article__text__summary {
        font-size: 16px;
        line-height: 21px;
        padding-bottom: 5%;
    }
}

@media (min-width: 769px) {

    /*** Fixed height homepage images ***/

    /* .home__articles__article__image { */
    /*     overflow: hidden; */
    /*     height: 220px; */
    /* } */

    /* .home__articles img.summary-image { */
    /*     bottom: 20%; */
    /*     height: 150%; */
    /*     left: -25px; */
    /*     position: relative; */
    /*     width: unset; */
    /* } */
}

@media (min-width: 769px) and (max-width: 1440px) {
    .home {
        width: 90%;
    }

    .home__top-article_text__title {
        font-size: 2vw;
        line-height: 3vw;
        padding-top: 1%;
    }
}

@media (min-width: 769px) {
    .home__articles__article__image {
        flex: 1;
    }

    .home__articles__article__text {
        flex: 2;
    }
}
