<table cellpadding="10" class="table">
    <tr>
        <th>Article</th>
        <th>Description</th>
        <th>Before tax & VAT</th>
        <th>Tax</th>
        <th>VAT</th>
        <th>Due</th>
        {% if staff_view %}<th>Fund</th>{% endif %}
    </tr>
    {% for commission in commissions %}
    {% with commission.calc_payment as payment %}
    <tr>
        <td>{{commission.article.title}}</td>
        <td>{{commission.description}}</td>
        <td align="right">R{{payment.3|floatformat:2}}</td>
        <td align="right">R{{payment.2|floatformat:2}}</td>
        <td align="right">R{{payment.1|floatformat:2}}</td>
        <td align="right">R{{payment.0|floatformat:2}}</td>
        {% if staff_view %}<td>{{commission.fund}}</td>{% endif %}
    </tr>
    {% endwith %}
    {% endfor %}
    {% with invoice.calc_payment as payment %}
    <tr>
        <td><b>TOTAL</b></td>
        <td></td>
        <td align="right">R{{payment.3|floatformat:2}}</td>
        <td align="right">R{{payment.2|floatformat:2}}</td>
        <td align="right">R{{payment.1|floatformat:2}}</td>
        <td align="right"><b>R{{payment.0|floatformat:2}}</b></td>
        {% if staff_view %}<td></td>{% endif %}
    </tr>
    {% endwith%}
</table>
