#most-popular.most-popular, #qanda.qanda {
    display: flex;
    flex-direction: column;
}

.article__sidebar #most-popular, .article__sidebar #qanda {
    padding: 0 30px 0 30px;
}

#most-popular ol li a, #qanda ul li a {
    font-family: Inter,  san-serif;
    color: #151F22;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.9rem;
}

#qanda ul {
    list-style: none;
    padding: 0;
}
