<div class="thumbnail">
    <div class="row">

      <!-- Image -->
      <div class="col-xs-12 col-md-8">
	<a href="{{article.get_absolute_url}}">
	  <img class="summary-image"
	       src="{{ article.cached_summary_image }}" />
	</a>
      </div>


      <!-- Title, text and byline -->
      <div class="col-xs-12 col-md-4">

	<h2 class="
		   {% if forloop.first %}
		   large-summary-title
		   {% else %}
		   summary-title
		   {% endif %}">
	  <a href="{{article.get_absolute_url}}">
	    {{article.title|safe }}
	  </a>
	</h2>
	<p class="summary-text">
	  {{article.cached_summary_text|safe}}
	</p>
	<p class="summary-dateline">
	  {{article.published|date:"d F Y"}}
	</p>
      </div>

      <!----->

    </div>

</div>
