{% load fb_versions %}

{% if recommended %}
    <div id="recommended">
    <h2>You might like</h2>

    {% for article in recommended %}

        <div class="row">
            {% if article.cached_primary_image %}
                <div class="col-xs-6 left">
                    <a href="{{article.get_absolute_url}}">
		        <img src="{% if article.primary_image %}{% version article.primary_image 'medium' %}{% else %}{{ article.cached_primary_image }}{% endif %}"
		             alt="{{article.primary_image_alt|addslashes}}" />
                    </a>
                </div>
            {% endif %}
            <div class="{% if article.cached_primary_image %}
                        col-xs-6
                        {% else %}
                        col-xs-12
                        {% endif %}">
                <a href="{{article.get_absolute_url}}">
                    <h3>{{article.title}}</h3>
                    <h4>{{article.published|date:"Y-m-d"}}</h4>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
