.recommended {
}

.recommended__header {
    font-family: Inter,  san-serif;
    font-weight: 600;
}

.recommended__article-list {
    display: flex;
    flex-direction: column;
}

.recommended__article {
    display: flex;
    justify-content: space-between;
}

.recommended__article__img-container {
    flex-basis: 33%;
}

.recommended__article__img {
    width: 100%;
}

.recommended__article__text-container {
    flex-basis: 65%;
}

.recommended__article__text {
    font-family: Inter,  san-serif;
    color: #151F22;
}

.article__sidebar .recommended {
    padding: 30px;
}
