.search-page {
}

.search-results__header {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
}

.adv-filter-box {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
}

.adv-filter-heading {
    margin-bottom: 20px;
}

.adv-filter-form__row {
    display: flex;
    margin-bottom: 10px;
}

.adv-filter-header {
    display: flex;
    align-items: center;
}

/*Advanced Filter Field*/
.adv-filter__item {
    flex-basis: 50%;
    display: flex;
    height: 36px;
    align-items: center;
}

.adv-filter-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.adv-filter__search-box {
    flex-basis: 50%; 
}

.adv-filter__first-author {
    flex-basis: 50%;
}

.adv-filter-form label {
    flex-basis: 28%;
}

.adv-filter__search-type-box ul {
    display: flex;
    list-style: none;
    width: 66%;
    padding-left: 0px;
    margin-bottom: 0px;
    align-items: center;
}

.adv-filter__search-type-box li {
    width: 35%;
}

.search-results__body {
    background-color: #fff;
    padding: 15px;
}

@media (min-width:787px) {
    .search-page {
        margin-top: 30px;
        margin-bottom: 30px;
    }    
}

#id_adv_search {
    flex-basis: 100%;    
    padding-left: 5px;
    margin-right: 29px;
}

#id_topics {
    width: 65%;
}

.adv-filter-submit {
    color: #fff;
    height: 36px;
    font-size: 1.7rem;
    background-color: #00B1F0;
    border: none;
    margin-bottom: 20px;
    margin-top: 15px;
}

.adv-filter-submit:hover {
    background-color: #151F22;
}

.adv-filter__item select, .adv-filter__item input {
    flex-basis: 65%;
}

.adv-filter-arrow {
    cursor: pointer;
    color: #00B1F0;
}

#id_first_author {
    flex-basis: 4%;
    margin-top: 0px;
}
