.search-page {
}

.search-results__header {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
}

.search-results__body {
    background-color: #fff;
    padding: 15px;
}

@media (min-width:787px) {
    .search-page {
        margin-top: 30px;
        margin-bottom: 30px;
    }    
}
