
<div class="col-xs-6 col-sm-12 col-md-12">
    {% if item.cached_primary_image %}
	<a href="{{item.get_absolute_url}}" >
	    <div class="see-also-image">
		<div class="hidden-xs small">
		    <img src="{{item.cached_summary_image}}"
			 alt="{{item.summary_image_alt}}" />
		</div>
		<div class="visible-xs-block large">
		    <img src="{{item.cached_small_image}}"
			 alt="{{item.summary_image_alt}}" />
		</div>
	    </div>
	</a>
    {% endif %}
    <div>
	<p><a href="{{item.get_absolute_url}}">{{item.title|safe}}</a></p>
    </div>
</div>
