
    {% include "newsroom/social_media.html" %}
    {% if article.promote_article %}
	<div id="support-article">
	    {% include "newsroom/support_article.html" %}
	</div>
    {% endif %}
    {% if see_also %}
	<div id="see-also">
	    <h2>Related articles</h2>

	    <ul>
		{% for item in see_also %}
		    <li><a href="{{item.get_absolute_url}}
				 ">{{item.title|safe}}</a>
		    </li>
		{% endfor %}
	    </ul>
	</div>
    {% endif %}

    {% if read_next %}
	<div id="read-next">
	    <h2>We recommend</h2>
	    {% include 'newsroom/read_next.html' %}
	</div>
    {% endif %}

    {% if most_popular_html %}
	<div id="most-popular">
	    <h2>Most popular</h2>
	    {{most_popular_html|safe}}
	</div>
    {% endif %}
    {% if not article.suppress_ads %}
	<aside class="side-advert">
	    {% include "newsroom/advert_article_side.html" %}
	    {% include "newsroom/advert.html" %}
	</aside>
    {% endif %}
