.social-media {
    margin-top: 12px;
    margin-bottom: 12px;
}

a.social-media__icon {
    padding: 0;
    text-align: center;
}

a.social-media__icon:nth-child(3), a.social-media__icon:nth-child(4) {

}

.social-media__icon img {
    min-width: 100px;
    min-height: 100px;
}

.social-media__newsletter {
    margin: 12px auto 12px auto;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #151F22;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Inter,  san-serif;
}

.social-media__newsletter h1 {
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-media__newsletter a {
    color: white;
}

.social-media__newsletter a:hover {
    text-decoration: none;
    color: #00B1F0;
}

#list-content .row:nth-child(2) > div:first-child {
    border-right: 2px solid #D6D6DA;
}

@media (max-width: 1199px) {
    .social-media__icon img {
        max-width: 50%;
        margin: 6px;
        padding: 6px;
    }
}
