
<div class="row">
    <div class="col-xs-12">
	<p class="social-media">
	    <a href="http://eepurl.com/Or2a9"
	       target="_blank">Get the GroundUp weekly newsletter
	    </a>
	</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-4" style="padding-right: 2px;">
	<div class="social-media">
	    <a href="http://www.facebook.com/GroundUpNews"
	       target="_blank">Like&nbsp;&nbsp;
		<i style="padding: 3px 5px 3px 5px;"
		   class="fa fa-facebook"></i>
	    </a>
	</div>
    </div>
    <div class="col-xs-4" style="padding-left: 2px; padding-right: 2px;">
	<div class="social-media">
	    <a href="http://www.twitter.com/GroundUp_News">
		Follow&nbsp;&nbsp;
		<i class="fa fa-twitter"></i>
	    </a>
	</div>
    </div>
    <div class="col-xs-4" style="padding-left: 2px;">
	<div class="social-media">
	    <a href="/feeds/">
		RSS&nbsp;&nbsp;
		<i class="fa fa-rss"></i>
	    </a>
	</div>
    </div>
</div>
