{% load staticfiles  %}
<div id="social-media">
    <div class="row">
        <div class="col-xs-8 left">
            <span class="social-media-follow">
                FOLLOW:
            </span>
            <a href="https://www.facebook.com/GroundUpNews/"
               target="_blank" >
                <i class="fa fa-facebook fa-2x"></i>
            </a>
            &nbsp;
            <a href="https://twitter.com/GroundUp_News"
               target="_blank">
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            &nbsp;
            <a href="https://www.youtube.com/c/GroundUpNews"
               target="_blank">
                <i class="fa fa-youtube fa-2x"></i>
            </a>
            &nbsp;

            <a href="/feeds/">
                <i class="fa fa-rss fa-2x"></i>
            </a>
        </div>
        <div class="col-xs-4 right">
	    <a href="http://eepurl.com/Or2a9" target="_blank">
                Get our newsletter
	    </a>
        </div>
    </div>
</div>
