{% if photo.pk and perms.gallery.change_photograph %}
    <li>
        <a href="{% url 'admin:gallery_photograph_change' photo.pk %}">
            Edit photo
        </a>
    </li>
{% endif %}

{% if album.pk and perms.gallery.change_album %}
    <li>
        <a href="{% url 'admin:gallery_album_change' album.pk %}">
            Edit album
        </a>
    </li>
{% endif %}

{% if flatpage.url and perms.flatpages.flatpage_change %}
    <li>
        <a href="{% url 'admin:flatpages_flatpage_change' flatpage.pk %}">
            Edit
        </a>
    </li>
{% endif %}


{% if perms.newsroom.add_article %}
    <li>
        <a href="{% url 'newsroom:article.add' %}">
            New article
        </a>
    </li>
    <li>
        <a href="{% url 'admin:newsroom_article_changelist' %}">
            Articles</a>
    </li>
{% endif %}

{% if perms.letters.add_letter %}
    <li>
        <a href="{% url 'admin:letters_letter_changelist' %}">
            Letters
        </a>
    </li>
{% endif %}

{% if perms.agony.change_qanda %}
    <li>
        <a href="{% url 'admin:agony_qanda_changelist' %}">
            Agony admin
        </a>
    </li>
{% endif %}

{% if perms.newsroom.change_author %}
    <li>
        <a href="{% url 'admin:newsroom_author_changelist' %}">
            Authors
        </a>
    </li>
{% endif %}

{% if perms.payment.change_invoice %}
    <li>
        <a href="{% url 'payments:invoice.list' %}">
            Invoices & requisitions
        </a>
    </li>
{% endif %}

{% if perms.payment.change_commission %}
    <li>
        <a href="{% url 'payments:commissions.detail.add' %}">
            Add payment item
        </a>
    </li>
{% endif %}

<li>
    <a href="{% url 'admin:index' %}">
        Admin front
    </a>
</li>

<li>
    <a href="/admin/filebrowser/browse/">
        Browse files
    </a>
</li>

<li>
    <a href="{% url 'newsroom:generate_article_list' %}">
        Generate article list
    </a>
</li>

<li>
    <a href="{% url 'cache:clearcache' %}">
        Clear cache
    </a>
</li>

<li>
    <a href="{% url 'newsroom:user.profile' %}">
        {% if request.user.first_name %}{{request.user.first_name}}{% else %}{{ request.user }}{% endif %}'s Account</a>
</li>
