{% if article.pk and perms.newsroom.change_article %}
    <li><a href="{% url 'admin:newsroom_article_change' article.pk %}"
	   class="admin-menu-item">Edit in admin</a></li>
    {% if not article.is_published %}
	<li id="publish-now"><a href="#"
	       class="admin-menu-item">Publish</a></li>
    {% endif %}
    <li id="make-top-story"><a href="#"
			       class="admin-menu-item"
			    >Make top story</a></li>
    {% if article.stickiness > 0 %}
	<li id="make-unsticky"><a href="#"
				   class="admin-menu-item"
				>Unsticky</a></li>
    {% endif %}
    {% if request.GET.edit != "no" %}
	<li><a class="admin-menu-item" href="{% url 'article.detail' article.slug %}?edit=no">Edit off</a></li>
    {% else %}
	<li><a class="admin-menu-item" href="{% url 'article.detail' article.slug %}">Edit on</a></li>
    {% endif %}
    <li role="separator" class="divider"></li>
{% endif %}

{% if flatpage.url and perms.flatpages.flatpage_change %}
<li><a href="
   {% url 'admin:flatpages_flatpage_change' flatpage.pk %}"
       class="admin-menu-item">Edit</a></li>
{% endif %}


{% if perms.newsroom.add_article %}
<li><a href="{% url 'admin:newsroom_article_add' %}" class="admin-menu-item">New article</a></li>
<li><a href="{% url 'admin:newsroom_article_changelist' %}" class="admin-menu-item">Articles</a></li>
{% endif %}
{% if perms.letters.add_letter %}
    <li><a href="{% url 'admin:letters_letter_changelist' %}" class="admin-menu-item">Letters</a></li>
{% endif %}
{% if perms.payment.edit_invoice %}
    <li><a href="{% url 'invoice.list' %}" class="admin-menu-item">Invoices</a></li>
{% endif %}
{% if perms.payment.edit_commission %}
    <li><a href="{% url 'admin:payment_commission_changelist' %}" class="admin-menu-item">Commissions</a></li>
{% endif %}
{% if perms.newsroom.edit_author %}
    <li><a href="{% url 'admin:newsroom_author_changelist' %}" class="admin-menu-item">Authors</a></li>
{% endif %}

<li role="separator" class="divider"></li>

<li><a href="{% url 'admin:index' %}" class="admin-menu-item">Admin front</a></li>
<li><a href="/admin/filebrowser/browse/" class="admin-menu-item">Browse
    files</a></li>
<li><a href="{% url 'generate_article_list' %}" class="admin-menu-item">Generate article list</a></li>
<li><a href="{% url 'cache:clearcache' %}" class="admin-menu-item">Clear cache</a></li>

<li role="separator" class="divider"></li>

<li><a href="{% url 'admin:logout' %}" class="admin-menu-item">Logout {% if request.user.first_name %}{{request.user.first_name}}{% else %}{{ request.user }}{% endif %}</a></li>
