{% extends 'base.html' %}
{% block title %}
    Topic: {{topic}}{{block.super}}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% if request.user.is_authenticated and perms.newsroom.change_topic %}
                    <div class="topic-edit-action" style="float:right; margin:10px 0;">
                        <a href="{% url 'admin:newsroom_topic_change' topic.pk %}" class="btn btn-sm btn-primary">Edit topic</a>
                    </div>
                {% endif %}
                {% if not topic.introduction %}
		    <h1 style="text-align: center;">
		        {{topic}}
		    </h1>
                {% else %}
                    {{topic.introduction|safe}}
                {% endif %}
            </div>
        </div>
        {% include "newsroom/article_list_snippet.html" %}
    </div>
{% endblock %}

{% block javascript-includes %}
    {{block.super}}

    {% if request.user.is_staff %}
        <script>
         (function() {
             if (window.opener) {
                 window.opener.receiveAjaxField("topics", {
                     'value': '{{topic.name}}',
                     'pk' : '{{topic.pk}}'
                 });
                 window.close();
             }
         })();
        </script>
    {% endif %}
{% endblock %}
